<!-- modal confirm -->
<div class="ui modal small" id="modal-confirm">
  <i class="close icon"></i>
  <div class="header" style="background:#1678C2;color: #FFFFFF">
    ยืนยันทำรายการ ?
  </div>
  <div class="content">
    <div class="ui center aligned grid">
      <div class="seven wide column">
        <button class="ui blue basic button" (click)="modalConfirm()">
          <i class="check circle outline icon"></i>
          ตกลง
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui grey  basic button" (click)="modalCancel()">
          <i class="times circle outline icon"></i>
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal request -->
<div class="ui modal small" id="modal-request">
  <i class="close icon"></i>
    <div class="header" style="background:#1678C2">
        <div style="color: rgb(255, 255, 255)">Request Form สำหรับลูกค้าทำรายการเอง </div>
    </div>
    <div class="content">
        <div class="ui form">
            <div class="inline fields">
                <div class="three wide field">
                    <label> TMB Req. No : </label>
                </div>
                <div class="four wide field">
                    <label>20180900001</label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui center aligned grid">
            <div class="ten wide column"> 
                <button class="ui blue  basic button">
                    <i class="check circle outline icon"></i>
                    ตกลง
                </button>
                <button class="ui blue  basic button">
                    <i class="print icon"></i>
                    พิมพ์ใบคำขอ
                </button>
            </div>            
        </div>
    </div>
</div>