<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจสอบติดตามผลการดำเนินการ
    </h2>

    <div class="ui top attached header segment">
      <span>ระบุเงื่อนไขในการค้นหา </span>
    </div>


    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field">
            <label class="custom-label-w-22">วันที่ขอ</label>
          </div>
          <div class="four wide field">
            <div class="ui calendar" id="calendarFront" style="width:100%">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="startDate" id="startDate">
              </div>
            </div>
          </div>
          <label>ถึงวันที่</label>
          <div class="four wide field">
            <div class="ui calendar" id="calendarLast" style="width:100%">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="endDate" id="endDate">
              </div>
            </div>
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
            <label>เลขที่อ้างอิง
            </label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
            <label>เลขที่คำขอ
            </label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
            <div class="two wide field ">
              <label>เลขที่นิติบุคคล  </label>
            </div>
            <div class="six wide field ">
              <input type="text" placeholder="" value="">
            </div>
          </div>

          <div class="inline fields">
              <div class="two wide field ">
                <label>ชื่อนิติบุคคล</label>
              </div>
              <div class="six wide field ">
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="inline fields">
                  
        </div>

      </div>
      <br>
      <div class="ui center aligned grid">
        <div class="four wide column">
          <button class="ui mini primary button" routerLink="/epa01/1/1" style="width: 100px;">
            <i class="search icon"></i>
            ค้นหา
          </button>
          <button class="ui mini button" style="width: 100px;">
            ยกเลิก
          </button>
        </div>
      </div>
      <br>
      <br>

    </div>
  </div>