.pusher {
    min-height: calc(100vh - 64px - 74px) !important;
}

.ui.grid.pushable {
    min-height: calc(100vh - 74px - 64px) !important;
}

.ui.left.vertical {
    padding: 0;
}

.ui.button.icon {
    padding: 7px;
}

.list.icon {
    cursor: pointer;
}

.ui.header.side-menu {
    padding: 14px 0 14px 0;
}