<div class="ui grid pushable">
    <div class="ui left vertical sidebar menu">
      <a class="item" style="font-size: 13px;color:#2185D0;">
        คำขอใหม่
        <div class="ui  label blue" style="font-size: 13px">1</div>
      </a>
      <a class="item" style="font-size: 13px;">
        ดำเนินการชำระเงิน
        <div class="ui label ">2</div>
      </a>
      <a class="item" style="font-size: 13px;color:red;">
        ปฏิเสธคำขอ
        <div class="ui label red">1</div>
      </a>
      <a class="item teal item red" style="font-size: 13px;color:red;">
        ยกเลิกคำขอ
        <div class="ui label red ">1</div>
      </a>
      <a class="item" style="font-size: 13px;color:#2185D0;">
        รออนุมัติการชำระเงิน
        <div class="ui label blue">1</div>
      </a>
      <a class="item" style="font-size: 13px;">
        อนุมัติการชำระเงิน
        <div class="ui label ">1</div>
      </a>
      <a class="item" style="font-size: 13px;color:red;">
        ปฏิเสธการชำระเงิน
        <div class="ui label red">1</div>
      </a>
      <a class="item" style="font-size: 13px;color:red;">
        ชำระเงินไม่สำเร็จ
        <div class="ui label red">1</div>
      </a>
      <a class="item" style="font-size: 13px;color:#2185D0;">
        รออัพโหลด Certificate
        <div class="ui label blue">1</div>
      </a>
      <a class="item" style="font-size: 13px;">
        ดำเนินการสำเร็จ
        <div class="ui label ">2</div>
      </a>
      <a class="item" style="font-size: 13px;color:#2185D0;">
        รอบันทึกคำขอ
        (ลูกค้าทำรายเอง)
        <div class="ui label blue">1</div>
      </a>
    </div>
    <div class="sixteen wide column pusher">
      <div class="ui one column">
        <div class="row">
          <div class="one column">
            <h3 class="ui header side-menu">
              <div class="ui grey button icon" data-position="right center" (click)="onToggle()" data-tooltip="แสดงรายการ">
                <i class="list icon"></i>
              </div>
              <div class="content">
                ตรวจสอบสถานะคำขอ
              </div>
            </h3>
          </div> 
        </div>
        <div class="row">
          <div class="ui top attached header segment">
            <span>ระบุเงื่อนไขในการค้นหา </span>
          </div>
          <div class="ui attached segment">
            <div class="ui form">
              <div class="inline fields">
                <div class="two wide field">
                  <label class="custom-label-w-22">วันที่ขอ</label>
                </div>
                <div class="five wide field" >
                    <ui-calendar calendarId="reqDate"  name="reqDate"  style="width:100% ;"></ui-calendar>
                </div>
                <div class="two wide field ">
                  <label>ถึงวันที่
                  </label>
                </div>
                <div class="five wide field">
                    <ui-calendar calendarId="toDate"  name="toDate"  style="width:100% ;"></ui-calendar>
                </div>
              </div>
              <div class="inline fields">
                <div class="two wide field ">
                  <label>เลขที่นิติบุคคล
                  </label>
                </div>
                <div class="five wide field ">
                  <input type="text" placeholder="" value="">
                </div>
                <div class="two wide field ">
                  <label>ชื่อนิติบุคคล</label>
                </div>
                <div class="five wide field ">
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="inline fields">
                <div class="two wide field ">
                  <label>TMB Req. No. </label>
                </div>
                <div class="five wide field ">
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="inline field">
                <div class="ui centered grid">
                  <div class="six wide column center aligned">
                    <button class="ui blue basic button" (click)="searchData()">
                      <i class="search icon"></i>
                      ค้นหา
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="ui grey basic button" (click)="clearData()">
                      <i class="trash alternate outline icon"></i>
                      ล้างข้อมูล
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui segment" >
            <div class="two wide field ">
              <b>ผลการค้นหา</b>
            </div>
            <table class=" small celled table nowrap ui" id="table" style="width: 100%">
              <thead class="tbody" >
                <tr style="text-align: center;">
                  <th class="collapsing">ลำดับ</th>
                  <th >วันที่ยื่นคำขอ</th>
                  <th>TMB Req. No.</th>
                  <th>เลขที่คำขอ (Ref.1)</th>
                  <th>เลขที่ตรวจสอบ (Ref.2)</th>
                  <th>จำนวนเงิน</th>
                  <th>ประเภทคำขอ</th>
                  <th>เลขที่นิติบุคคล </th>
                  <th>ชื่อบริษัท</th>
                  <th>สถานะดำเนินการ</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: right">1</td>
                  <td> 01/01/2561</td>
                  <td>20180900001</td>
                  <td>-</td>
                  <td>0101256100000125</td>
                  <td style="text-align: right">300.00</td>
                  <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                  <td>1023456321234</td>
                  <td>บริษัท เอ</td>
                  <td>คำขอใหม่</td>
                  <td>
                    <button class="ui blue basic button" [routerLink]="[ '/description']">แสดง
                      <i class="arrow alternate circle right outline icon"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>