<modal [id]="modal[0]" [size]="'small'" [type]="'custom'">
    <i class="close icon"></i>
    <div class="header">
        Request Form สำหรับลูกค้าทำรายการเอง  
    </div>
    <div class="content">
      <div class="ui form">
        <div class="inline fields">
          <div class="five wide field">
            <label>ทำรายการสำเร็จ TMB Req. No : </label>       
          </div>
          <div class="four wide field">
            <label>01012561000010</label>           
          </div>
        </div>           
      </div>    
    </div>
    <div class="actions">
      <div class="ui center aligned grid">
        <div class="six wide column">
          <button class="ui mini primary button" (click)="closeModal(modal[0])" [routerLink]="[ '/performa']">
            ตกลง
          </button>
          &nbsp;&nbsp; &nbsp;&nbsp;          
        </div>
      </div>
    </div>
  </modal>
  



<div class="ui borderless menu fixed" style="background:rgb(255, 255, 255);z-index: 999;height: 75px;">
    <img class="logo" routerLink="/home" src="assets/image/TMBLogo.png" style="width: 240px; height:65px;margin-left:0%">
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)" [routerLink]="[ '/performa']">
        ตรวจสอบสถานะคำขอ
    </div>
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)">
        ทำคำขอใหม่
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " outerLinkActive="active " (click)="openModal(modal[0])">
                Request Form สำหรับลูกค้าทำรายการเอง
            </a>
            <a class="item " [routerLink]="['/client-signed']" routerLinkActive="active">
                Request Form สำหรับทำรายการให้ลูกค้าลงนาม
            </a>
        </div>
    </div>
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)">
        รายงาน
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " [routerLink]="[ '/e-certificate-day'] " routerLinkActive="active ">รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล
                ( e-Certificate ) - Day

            </a>
            <a class="item " [routerLink]="[ '/e-certificate-monthly']" routerLinkActive="active ">รายงานสรุปการให้บริการ
                ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) - Monthly

            </a>
            <a class="item " [routerLink]="[ '/output-VAT']" routerLinkActive="active ">รายงาน Output VAT

            </a>
        </div>
    </div>
    <div class="right menu ">

        <div class="ui simple  item " style=" color:rgb(0, 0, 0);line-height: 150%;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
           42307 สรุเดช แสนสมบูรณ์สุข Maker <br> วันที่ 21/8/2561 เวลา 14.30 น. ปฏิบัติการสินเชื่อธุรกิจ
           

        </div>

        <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)" [routerLink]="[ '/login']">
            Logout
        </div>
    </div>
</div>

<div class="ui main container-fluid">
  
    <router-outlet></router-outlet>


   
</div>

<div class="ui vertical footer">
    <div class="ui center aligned container ">
        <p>© สงวนลิขสิทธิ์ 2561 ธนาคารทหารไทย จำกัด (มหาชน)</p>
    </div>
</div>