<div class="ui borderless menu fixed" style="background: 	rgb(255, 255, 255);z-index: 999999;height: 75px;"> 
    <img class="logo" src="../assets/image/TMB.png" style="width: 240px; height:65px; margin-left: 100px ;"> 
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)"  [routerLink]="[ '/performa']" >
        ตรวจสอบติดตามผลการดำเนินการ        
    </div> 
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)"  >
        ยื่นแบบคำขอเอกสารใบรับรอง
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " [routerLink]="[ '/performa'] " routerLinkActive="active ">พิมพ์แบบฟอร์มให้ลูกค้าลงนาม
            </a>
            <a class="item " [routerLink]="[ '/epa02/1'] " routerLinkActive="active ">บันทึกคำขอและพิมพ์แบบฟอร์มให้ลูกค้าลงนาม
            </a>
        </div>
    </div> 
    <div class="ui simple dropdown item " style=" color:rgb(0, 0, 0)" >
        รายงาน
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " [routerLink]="[ '/epa01/1'] " routerLinkActive="active ">รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) - Day
            </a>
            <a class="item " [routerLink]="[ '/epa02/1'] " routerLinkActive="active ">รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) - Monthly
            </a>
        </div>
    </div> 
  </div>

<div class="ui main  container ">   
    <router-outlet></router-outlet>
</div>

