<h2 class="ui header"> เพิ่ม Role
</h2>
<div class="ui segment ">
  <div class="ui form">
    <br>

    <div class="inline fields">
      <div class="four wide field "></div>
      <div class="two wide field ">
        <label>Role Name </label>
      </div>
      <div class="five wide field ">
        <input type="text" placeholder="" value="">
      </div>
    </div>
    <div class="inline fields">
        <div class="four wide field "></div>
        <div class="two wide field ">
          <label>สถานะ</label>
        </div>
        <div class=" one wide  field">
          <div class="ui radio checkbox">
            <input type="radio" name="active" checked="checked">
            <label>Active</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="inActive">
            <label>InActive</label>
          </div>
        </div>
  
      </div>
    <br>
    <div class="ui grid ">
      <div class="row">
        <div class="three wide column">&nbsp;</div>
        <div class="ten wide column">
          <table class="ui small celled table nowrap" id="table" style="width: 100%">
            <thead>
              <tr style="text-align: center;">
                <th>Screen</th>
                <th>Active/InActive</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;
                  &nbsp;UI-00002 - ยินดีต้อนรับ</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00003 - ตรวจสอบสถานะคำขอ</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;แสดงรายละเอียด</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                 
                &nbsp;UI-00004 - รายละเอียดบันทึกคำขอและพิมพ์แบบฟอร์มให้ลูกค้าลงนาม</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ดำเนินการชำระเงิน</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;อนุมัติการชำระเงิน</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ปฏิเสธ</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;พิมพ์ใบเสร็จ</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;พิมพ์ Cover Sheet</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Upload Certificate</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ดาวน์โหลดใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ดาวน์โหลดสำเนาบัตรประชาชน</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ดาวน์โหลดสำเนาใบเปลี่ยนชื่อหรือนามสกุล</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;ดาวน์โหลดเอกสาร Certificate</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00005 - Request Form สำหรับลูกค้าทำรายการเอง</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00006 - Request Form สำหรับทำรายการให้ลูกค้าลงนาม</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00007 - รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : End day</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Export to Excel</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00008 - รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : Monthly</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Export to Excel</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00009 - รายงาน Output VAT</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; Export to Excel</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp;UI-00011 - Batch Monitoring</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Rerun</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp; UI-00012 - Audit Log</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Export to Excel</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;
                &nbsp; UI-00013 - Role Manament</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;เพิ่ม Role</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; แก้ไข</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; Import Role</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Export Role</td>
                  <td style="text-align: center">
                      <div class="ui toggle  checkbox">
                        <input type="checkbox" >
                        <label></label>
                      </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="three wide column">&nbsp;</div>
      </div>
    </div>



    <br>
    <br>
    <div class="ui center aligned grid">
      <button class="ui blue basic button">
        <i class="download circle icon"></i>
        บันทึก
      </button> &nbsp;&nbsp;&nbsp;
      <button class="ui grey basic button">
        <i class="times circle outline icon"></i>
        ยกเลิก
      </button>
    </div>
    <br>

  </div>
</div>