<div class="ui huge breadcrumb">
  <div class="section">New</div>
  <i class="angle right icon"></i>
  <div class="active section">Edit Row</div>
</div>
<div class="ui segment ">
  <div class="ui form">
    <br>
    <br>
    <br>

    <div class="inline fields">
      <div class="four wide field "></div>
      <div class="two wide field ">
        <label>Role Name </label>
      </div>
      <div class="five wide field ">
        <input type="text" placeholder="" value="">
      </div>
    </div>
    <br>
    <div class="ui grid ">
      <div class="row">
        <div class="three wide column">&nbsp;</div>
        <div class="ten wide column">
          <table class="ui small celled table nowrap" id="table" style="width: 100%">
            <thead>
              <tr style="text-align: center;">
                <th>Screen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="true">&nbsp;UI-00002 - ยินดีต้อนรับ</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00003 - ตรวจสอบสถานะคำขอ</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;แสดงรายละเอียด</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00004 - รายละเอียดบันทึกคำขอและพิมพ์แบบฟอร์มให้ลูกค้าลงนาม</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp; ดำเนินการชำระเงิน</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;อนุมัติการชำระเงิน</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;ปฏิเสธ</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;พิมพ์ใบเสร็จ</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;พิมพ์ Cover Sheet</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Upload Certificate</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;ดาวน์โหลดใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;ดาวน์โหลดสำเนาบัตรประชาชน</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp; ดาวน์โหลดสำเนาใบเปลี่ยนชื่อหรือนามสกุล</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;ดาวน์โหลดเอกสาร Certificate</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp; UI-00005 - Request Form สำหรับลูกค้าทำรายการเอง</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00006 - Request Form สำหรับทำรายการให้ลูกค้าลงนาม</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00007 - รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : End day</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Export to Excel</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00008 - รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : Monthly</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Export to Excel</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00009 - รายงาน Output VAT</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp; Export to Excel</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp;UI-00011 - Batch Monitoring</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Rerun</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp; UI-00012 - Audit Log</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Export to Excel</td>
              </tr>
              <tr>
                <td>&nbsp;
                  <input type="checkbox" checked="">&nbsp; UI-00013 - Role Manament</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;เพิ่ม Role</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp; แก้ไข</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp; Import Role</td>
              </tr>
              <tr>
                <td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" checked="">&nbsp;Export Role</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="three wide column">&nbsp;</div>
      </div>
    </div>



    <br>
    <br>
    <div class="ui center aligned grid">
      <button class="ui blue basic button">
        <i class="download circle icon"></i>
        Save
      </button> &nbsp;&nbsp;&nbsp;
      <button class="ui grey basic button">
        <i class="times circle outline icon"></i>
        Cancel
      </button>
    </div>
    <br>

  </div>
</div>