<div class="ui grid">
    <div class="sixteen wide column">

        <h2 class="ui header">รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : End day
        </h2>


        <div class="ui top attached header segment">
            <span>ระบุเงื่อนไขในการค้นหา </span>
        </div>


        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label class="custom-label-w-25">วันที่ขอ</label>
                    </div>
                    <div class="five wide field">
                        <div class="ui calendar" id="calendar1" style="width:100%">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" name="startDate" id="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="two wide field ">
                        <label>ถึงวันที่</label>
                    </div>
                    <div class="five wide field">
                        <div class="ui calendar" id="calendar2" style="width:100%">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" name="endDate" id="endDate">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field ">
                        <label>เลขที่นิติบุคคล </label>
                    </div>
                    <div class="five wide field ">
                        <input type="text" placeholder="" value="">
                    </div>
                    <div class="two wide field ">
                        <label>ชื่อนิติบุคคล</label>
                    </div>
                    <div class="five wide field ">
                        <input type="text" placeholder="" value="">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field ">
                        <label>ประเภทคำขอ</label>
                    </div>
                    <div class="five wide field">
                        <select id="products" name="products" class="ui search dropdown" (change)="onSelectProducts($event)">
                            <option *ngFor="let product of products; let i = index" value="{{i}}">
                                {{product}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ui center aligned grid">

                <button class="ui blue basic button" (click)="searchData()">
                    <i class="search icon"></i>
                    ค้นหา
                </button>
                <button class="ui grey  basic button" (click)="clearData()">
                    <i class="trash alternate outline icon"></i>
                    ล้างข้อมูล
                </button>
                <br>
            </div>
            <br>

            <br>

        </div>
    </div>
</div>
<br>
<div class="sixteen wide column" *ngIf="showData">
    <div class="ui top attached header segment">
        <span>ผลการค้นหา </span>
    </div>
    <div class="ui attached segment">
        <div>
            <table class="ui small celled table nowrap" style="width: 100%" id="table">
                <thead>
                    <tr>
                        <th rowspan="2">ลำดับ</th>
                        <th rowspan="2">วันที่</th>
                        <th rowspan="2">เลขที่อ้างอิง (TMB Req No.)</th>
                        <th rowspan="2">เลขที่นิติบุคคล</th>
                        <th rowspan="2">ชื่อ</th>
                        <th rowspan="2">Segment</th>
                        <th rowspan="2">ประเภทคำขอ</th>
                        <th rowspan="2">รายละเอียดคำขอ</th>
                        <th rowspan="2">เลขที่บัญชี</th>
                        <th colspan="3">จำนวนเงิน : บาท</th>
                        <th rowspan="2">รวม</th>
                        <th rowspan="2">Marker</th>
                        <th rowspan="2">Checker</th>
                        <th colspan="2">สถานะ</th>
                        <th rowspan="2">หมายเหตุ</th>
                    </tr>
                    <tr>
                        <th>DBD </th>
                        <th>TMB</th>
                        <th>Tax Amount </th>
                        <th>Success</th>
                        <th>Fail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: right">1</td>
                        <td>21/8/2561</td>
                        <td style="text-align: center;">2018080001</td>
                        <td>1234567890123</td>
                        <td>Test1</td>
                        <td style="text-align: center;">SE</td>
                        <td>หจก. , บจก. , บมจ.</td>
                        <td>หนังสือรับรอง</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">200.00</td>
                        <td style="text-align: right">140.19</td>
                        <td style="text-align: right">9.81</td>
                        <td style="text-align: right">350</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td style="text-align: right">2</td>
                        <td>23/8/2561</td>
                        <td style="text-align: center;">2018080002</td>
                        <td>1234567890123</td>
                        <td>Test2</td>
                        <td style="text-align: center;">MB</td>
                        <td>ธุรกิจของคนต่างด้าว</td>
                        <td>รับรองสำเนาเอกสารทะเบียน</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">100.00</td>
                        <td style="text-align: right">93.46</td>
                        <td style="text-align: right">6.54</td>
                        <td style="text-align: right">200</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr>
                        <td style="text-align: right">3</td>
                        <td>24/8/2561</td>
                        <td style="text-align: center;">2018080003</td>
                        <td>1234567890123</td>
                        <td>Test3</td>
                        <td style="text-align: center;">MB</td>
                        <td>สมาคมและหอการค้า</td>
                        <td>รับรองสำเนางบการเงิน</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">20.00</td>
                        <td style="text-align:  right">93.46</td>
                        <td style="text-align: right">6.54</td>
                        <td style="text-align: right">120</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td style="text-align: right">4</td>
                        <td>27/8/2561</td>
                        <td style="text-align: center;">2018080004</td>
                        <td>1234567890123</td>
                        <td>Test4</td>
                        <td style="text-align: center;">CB</td>
                        <td>ธุรกิจของคนต่างด้าว</td>
                        <td>หนังสือรับรอง</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">300.00</td>
                        <td style="text-align: right">140.19</td>
                        <td style="text-align: right">9.81</td>
                        <td style="text-align: right">450</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr>
                        <td style="text-align: right">5</td>
                        <td>30/8/2561</td>
                        <td style="text-align: center;">2018080005</td>
                        <td>1234567890123</td>
                        <td>Test5</td>
                        <td style="text-align: center;">Retail</td>
                        <td>หจก. , บจก. , บมจ.</td>
                        <td>รับรองสำเนาเอกสารทะเบียน</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">50.00</td>
                        <td style="text-align: right">93.46</td>
                        <td style="text-align: right">6.54</td>
                        <td style="text-align: right">150</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td style="text-align: right">6</td>
                        <td>31/8/2561</td>
                        <td style="text-align: center;">2018080006</td>
                        <td>1234567890123</td>
                        <td>Test6</td>
                        <td style="text-align: center;">SE</td>
                        <td>หจก. , บจก. , บมจ.</td>
                        <td>หนังสือรับรอง</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">200.00</td>
                        <td style="text-align: right">140.19</td>
                        <td style="text-align: right">9.81</td>
                        <td style="text-align: right">350</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                    <tr>
                        <td style="text-align: right">7</td>
                        <td>31/8/2561</td>
                        <td style="text-align: center;">2018080007</td>
                        <td>1234567890123</td>
                        <td>Test7</td>
                        <td style="text-align: center;">CB</td>
                        <td>สมาคมและหอการค้า</td>
                        <td>รับรองสำเนางบการเงิน</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">20.00</td>
                        <td style="text-align: right">93.46</td>
                        <td style="text-align: right">6.54</td>
                        <td style="text-align: right">120</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td style="text-align: right">8</td>
                        <td>31/8/2561</td>
                        <td style="text-align: center;">2018080008</td>
                        <td>1234567890123</td>
                        <td>Test8</td>
                        <td style="text-align: center;">BB</td>
                        <td>ธุรกิจของคนต่างด้าว</td>
                        <td>หนังสือรับรอง</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">300.00</td>
                        <td style="text-align: right">140.19</td>
                        <td style="text-align: right">9.81</td>
                        <td style="text-align: right">450</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td style="text-align: right">9</td>
                        <td>31/8/2561</td>
                        <td style="text-align: center;">2018080008</td>
                        <td>1234567890123</td>
                        <td>Test8</td>
                        <td style="text-align: center;">ETC</td>
                        <td>ธุรกิจของคนต่างด้าว</td>
                        <td>หนังสือรับรอง</td>
                        <td style="text-align: center;">123-1-12345-9</td>
                        <td style="text-align: right">300.00</td>
                        <td style="text-align: right">140.19</td>
                        <td style="text-align: right">9.81</td>
                        <td style="text-align: right">450</td>
                        <td>(42307 สุรเดช แสนสมบูรณ์สุข)</td>
                        <td>(14930 วารุณีย์ จุลเสวี)</td>
                        <td style="text-align: center;">
                            <i class="check icon"></i>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>

        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <button class="ui blue basic button">
                    <i class="file excel outline icon"></i>Export to Excel</button>
            </div>
        </div>
        <br>

    </div>
</div>