<h2 class="ui header">
    แก้ไข Email Configuration
</h2>

<div class="ui form segment " [formGroup]="emailForm">
    <br>
    <div class="inline fields">
        <div class="five wide field"></div>
        <div class="two wide field ">
            <label> Email Name </label>
        </div>
        <div class="four wide field ">
            {{sup03000.emailNameTemplate}}
        </div>
    </div>
    <div class="inline fields">
        <div class="five wide field "></div>
        <div class="two wide field ">
            <label>สถานะ</label>
        </div>
        <div class=" one wide  field">
            <div class="ui radio checkbox">
                <input type="radio" value="0" formControlName="attachFileflag">
                <label>Active</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value="1" formControlName="attachFileflag">
                <label>InActive</label>
            </div>
        </div>
    </div>

    <br>
    <div class="ui grid ">
        <div class="row">
            <div class="three wide column">&nbsp;</div>
            <div class="ten wide column">
                <table class="ui small celled table nowrap " id="table" style="width: 100%">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Property Name</th>
                            <th>Value</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subject</td>
                            <td>
                                <div class="field" [ngClass]="{'error':(subject.invalid && (subject.dirty || subject.touched)) }">
                                    <input type="text" formControlName="subject" style="width: 95%;">
                                </div>
                            </td>


                        </tr>
                        <tr style="background: 	#F8F8FF">
                            <td>Body</td>
                            <td>
                                <!-- <div class="field" [ngClass]="{'error':(body.invalid && (body.dirty || body.touched)) }">
                                    <textarea rows="8" style="width: 95%;" formControlName="body"></textarea>
                                </div> -->
                                <div class="field" formControlName="body"  [ngxSummernote]="config" ></div>
                            </td>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>
                                <div class="field" [ngClass]="{'error':(from.invalid && (from.dirty || from.touched)) }">
                                    <input type="text" formControlName="from" style="width: 95%;">
                                </div>

                            </td>
                        </tr>
                        <tr style="background: 	#F8F8FF">
                            <td>To</td>
                            <td>
                                <div class="field" [ngClass]="{'error':(to.invalid && (to.dirty || to.touched)) }">
                                    <textarea rows="3" formControlName="to" style="width: 95%;"></textarea>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="three wide column">&nbsp;</div>
        </div>
    </div>
    <br>
    <br>
    <div class="ui center aligned grid">
        <button class="ui blue basic button" (click)="clickSave()">
            <i class="download circle icon"></i>
            บันทึก
        </button> &nbsp;&nbsp;&nbsp;
        <button class="ui grey basic button" (click)="clickCancel()">
            <i class="times circle outline icon"></i>
            ยกเลิก
        </button>
    </div>
    <br>

</div>