

<modal [id]="modal[3]" [size]="'small'" [type]="'custom'">
    <i class="close icon"></i>
    <div class="header" style="background: rgb(231, 185, 58)">
       <div  style="color: white" >แจ้งเตือนการอนุมัติการชำระเงินค่าธรรมเนียม </div> 
    </div>
    <div class="content">
      <div class="ui form">
        <div class="inline fields">
          <div class="nine wide field">
            <label>ยืนยันการอนุมัติการชำระเงินค่าธรรมเนียม</label>       
          </div>        
        </div>           
      </div>    
    </div>
    <div class="actions">
      <div class="ui center aligned grid">
        <div class="six wide column">
          <button class="ui mini primary button" style="background: rgb(231, 185, 58)" (click)="closeModal(modal[3])" >
         ยืนยัน
          </button>
          &nbsp;&nbsp; &nbsp;&nbsp;    
          <button class="ui mini  button"  (click)="closeModal(modal[3])" >
            ยกเลิก
            </button>      
        </div>
      </div>
    </div>
  </modal>

<modal [id]="modal[0]" [size]="'small'" [type]="'custom'">
  <i class="close icon"></i>
  <div class="header" style="background:#1678C2">
   <div style="color: rgb(255, 255, 255)">ดำเนินการชำระเงิน</div> 
  </div>
  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="twelve wide field">
          <label class="custom-label-w-15">เลขที่คำขอ (Ref1)</label>
          <input type="text" value="" />
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label class="custom-label-w-15">เลขที่ตรวจสอบ (Ref2)</label>
          <input type="text" value="" />
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label class="custom-label-w-15">จำนวนเงิน</label>
          <input type="text" value="" />
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="eight wide column">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="six wide column">
        <button class="ui mini primary button" (click)="closeModal(modal[0])" >
          ชำระเงิน
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui mini  button" (click)="closeModal(modal[0])">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</modal>

<modal [id]="modal[1]" [size]="'small'" [type]="'custom'">
  <i class="close icon"></i>
  <div class="header"  style="background:#1678C2">
   <diV style="color: rgb(255, 255, 255)">ระบุสาเหตุ</diV> 
  </div>
  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="three wide field ">
          <label>สาเหตุ</label>
        </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <div class="eight wide field">
          <select id="allowed-drop" name="allowed-drop" class="ui search dropdown" (change)="onSelectactionStatus($event)">
            <option *ngFor="let allowed of allowed; let i = index" value="{{i}}">
              {{allowed}}
            </option>
          </select>
        </div>
      </div>
      <div class="inline fields">
        <div class="three wide field ">
          <label>Remark Tracking</label>
        </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <div class="eight wide field ">
          <textarea rows="2"></textarea>
        </div>
      </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="six wide column">
        <button class="ui mini primary button" (click)="closeModal(modal[1])">
          ตกลง
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui mini  button" (click)="closeModal(modal[1])">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</modal>

<modal [id]="modal[2]" [size]="'small'" [type]="'custom'">
  <i class="close icon"></i>
  <div class="header"  style="background:#1678C2">
      <diV style="color: rgb(255, 255, 255)">ระบุเอกสาร Certificate</diV> 
  </div>
  <div class="content">
    <div class="ui form">

      <div class="inline fields">
        <div class="three wide field ">
          <label>เอกสาร Certificate</label>
        </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <div class="eight wide field ">
          <input type="file">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="six wide column">
        <button class="ui mini primary button" (click)="closeModal(modal[2])" >
          ตกลง
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui mini  button" (click)="closeModal(modal[2])">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</modal>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui form segment">
      <h4>บันทึกคำขอและพิมพ์แบบฟอร์มให้ลูกค้าลงนาม
      </h4>
      <br>
      <br>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>วันที่ขอ
          </label>
        </div>
        <div class="five wide field ">
          <p>01/01/2561</p>
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>TMB Req.No.
          </label>
        </div>
        <div class="five wide field ">
          <p>1012561000000001</p>
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>ประเภทคำขอ</label>
        </div>
        <div class="five wide field ">
          <p>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</p>
        </div>
      </div>

      <br>
      <br>
      <div>
        <table class="ui small celled table nowrap" style="width: 100%">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="2" colspan="2">รายละเอียด </th>
              <th rowspan="2">ค่าธรรมเนียมของ DBD </th>
              <th rowspan="2">ค่าบริการของธนาคาร </th>
              <th rowspan="2">จำนวน (ฉบับ/หน้า/เรื่อง) </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5">
                <h5>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</h5>
              </td>
            </tr>

            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td> หนังสือรับรองนิติบุคคล</td>
              <td>ฉบับละ 200 บาท</td>
              <td>ฉบับละ 150 บาท</td>
              <td> 1 ฉบับ </td>

            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 หน้า </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 หน้า </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนาบัญชีรายชื่อผู้ถือหุ้น</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 หน้า </td>

            </tr>
            <tr>
              <td colspan="5">
                <h5>การประกอบธุรกิจของคนต่างด้าว</h5>
              </td>
            </tr>

            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>หนังสือรับรองข้อความที่กรมทะเบียนเก็บรักษาไว้ของการประกอบธุรกิจของคนต่างด้าว</td>
              <td>ฉบับละ 300-500 บาท</td>
              <td>ฉบับละ 150 บาท</td>
              <td> 1 ฉบับ </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>หน้าละ 100 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 หน้า </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>หน้าละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 หน้า </td>
            </tr>
            <tr>
              <td colspan="5">
                <h5>สมาคมและหอการค้า</h5>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>เรื่องละ 20 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 เรื่อง </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" checked="true" disabled="true">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>เรื่องละ 20 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td> 1 เรื่อง </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>

      <div class="ui top attached tabular menu">
        <a class="item active" id="tab1" data-tab="first">รายละเอียดลูกค้า</a>
        <a class="item" id="tab2" data-tab="second" (click)="callTable()"> ประวัติการทำรายการ</a>
      </div>
      <div class="ui bottom attached tab segment active" id="subTap1" data-tab="first">
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>เลขที่นิติบุคคล
            </label>
          </div>
          <div class="one wide field "></div>
          <div class="five wide field ">
            <p>9023456321236</p>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>ชื่อนิติบุคคล
            </label>
          </div>
          <div class="one wide field "></div>
          <div class="five wide field ">
            <p>บริษัท ซี4</p>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>Customer Segment
            </label>
          </div>
          <div class="one wide field "></div>
          <div class="five wide field ">
            <p>Segment 1</p>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>เลขที่ CA/มติอนุมัติ
            </label>
          </div>
          <div class="one wide field "></div>
          <div class="five wide field ">
            <p>-</p>
          </div>
        </div>


        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>วิธีการรับชำระ
            </label>
          </div>
          <div class="five wide field ">
            <label>บัญชีของธนาคาร TMB</label>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>วิธีตัดบัญชี
            </label>
          </div>
          <div class="five wide field ">
            <label>ธนาคารกลุ่ม SE</label>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>Tran Code
            </label>
          </div>
          <div class="five wide field ">
            <label>8880</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>GL Type
            </label>
          </div>
          <div class="five wide field ">
            <label>B533</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>Account Type
            </label>
          </div>
          <div class="five wide field ">
            <label>OOA</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>ระบุเลขที่บัญชี
            </label>
          </div>
          <div class="three wide field ">
            <p>1045324356</p>
          </div>
          <div class="one wide field ">
            <label>ชื่อบัญชี</label>
          </div>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="two wide field ">
            <p>นาย ก ใจดี</p>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>เลขที่อ้างอิง (Ref.1)
            </label>
          </div>
          <div class="five wide field ">
            <label>61100920717022</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>เลขที่ตรวจสอบ (Ref.2)
            </label>
          </div>
          <div class="five wide field ">
            <label>0101256100000125</label>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>จำนวนเงิน
            </label>
          </div>
          <div class="five wide field ">
            <label>300.00</label>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>ชื่อผู้ขอที่ต้องการแสดงบนใบเสร็จ
            </label>
          </div>
          <div class="two wide field ">
            <p>นายขอยื่น แทนบริษัท</p>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>เบอร์โทรลูกค้า
            </label>
          </div>
          <div class="two wide field ">
            <p>0987654345</p>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>ใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
            </label>
          </div>
          <div class="two wide field ">
            <a style="color: #000;">
              <u>Download</u>
            </a>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>สำเนาบัตรประชาชน
            </label>
          </div>
          <div class="two wide field ">
            <a style="color: #000;">
              <u>Download</u>
            </a>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>เอกสารรับรอง
            </label>
          </div>
          <div class="two wide field ">
            <a style="color: #000;">
              <u>Download</u>
            </a>
          </div>
        </div>
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="four wide field ">
            <label>หมายเหตุ
            </label>
          </div>
          <div class="five wide field ">
            <textarea rows="2"></textarea>
          </div>
        </div>
        <br>
        <br>
        <div class="ui center aligned grid">
          <button class="ui mini primary button"  (click)="openModal(modal[3])">
            อนุมัติการชำระเงิน
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button" (click)="openModal(modal[1])">
            ไม่อนุมัติการชำระเงิน
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button" (click)="openModal(modal[0])">
            ดำเนินการชำระเงิน
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button" (click)="openModal(modal[1])">
            ข้อมูลไม่ถูกต้อง
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button" (click)="openModal(modal[1])">
            ยกเลิกคำขอ
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button">
            พิมพ์ใบเสร็จ
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button">
            พิมพ์ Cover Sheet
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button" (click)="openModal(modal[2])">
            Upload Certificate
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini  button">
            ยกเลิก
          </button>
          <br>
        </div>
        <br>
        <br>
      </div>
      <div class="ui bottom attached tab segment" id="subTap2" data-tab="second">
          <table class="ui small celled table nowrap" cellpadding="0"  cellspacing="0" id="table" >
              <thead>
                <tr  style="text-align: center;">
                  <th >ลำดับ</th>
                  <th>วันเวลาที่ดำเนินการ</th>
                  <th>ผู้ดำเนินการ </th>
                  <th>วันที่ยื่นคำขอ</th>
                  <th>TMB Req. No</th>
                  <th>เลขที่คำขอ (Ref.1)</th>
                  <th>เลขที่ตรวจสอบ (Ref.2)</th>
                  <th>จำนวนเงิน </th>
                  <th>ประเภทคำขอ</th>
                  <th>เลขที่นิติบุคคล</th>
                  <th>ชื่อบริษัท</th>
                  <th>สถานะการดำเนินการ</th>
                  <th>สาเหตุ</th>    
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>01/01/2561 09:00</td>
                      <td>10001 - นายธนาคาร ซื่อสัตย์</td>
                      <td>01/01/2561</td>
                      <td>01012561000001</td>
                      <td>-</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                      <td>1023456321234</td>
                      <td>บริษัท เอ</td>
                      <td>New</td>
                      <td>-</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>01/01/2561 09:10</td>
                      <td>10001 - นายธนาคาร ซื่อสัตย์</td>
                      <td>01/01/2561</td>
                      <td>01012561000001</td>
                      <td>-</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                      <td>1023456321234</td>
                      <td>บริษัท เอ</td>
                      <td>Waiting Payment</td>
                      <td>-</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>01/01/2561 09:20</td>
                      <td>10001 - นายธนาคาร ซื่อสัตย์</td>
                      <td>01/01/2561</td>
                      <td>01012561000001</td>
                      <td>61100920717022</td>
                      <td>6110092071702211</td>
                      <td>350.00</td>
                      <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                      <td>1023456321234</td>
                      <td>บริษัท เอ</td>
                      <td>Payment Complete</td>
                      <td>-</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>01/01/2561 09:25</td>
                      <td>10001 - นายธนาคาร ซื่อสัตย์</td>
                      <td>01/01/2561</td>
                      <td>01012561000001</td>
                      <td>61100920717022</td>
                      <td>6110092071702211</td>
                      <td>350.00</td>
                      <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                      <td>1023456321234</td>
                      <td>บริษัท เอ</td>
                      <td>Upload to ECM Complete</td>
                      <td>-</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>01/01/2561 09:30</td>
                      <td>10001 - นายธนาคาร ซื่อสัตย์</td>
                      <td>01/01/2561</td>
                      <td>01012561000001</td>
                      <td>61100920717022</td>
                      <td>6110092071702211</td>
                      <td>350.00</td>
                      <td>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</td>
                      <td>1023456321234</td>
                      <td>บริษัท เอ</td>
                      <td>Upload to e-Certificate Complete</td>
                      <td>-</td>
                  </tr>
              </tbody>
             </table>
      </div>
    </div>
  </div>
</div>