<h2 class="ui header">
        Parameter Configuration
    </h2>

<div class="ui form segment ">
    <div class="ui grid ">
        <div class="row">
            <div class="three wide column">&nbsp;</div>
        <div class="ten wide column">
            <table class="ui small celled table nowrap " id="table" style="width: 100%">
                <thead>
                    <tr style="text-align: center;">
                        <th >Property Name</th>
                        <th >Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ecertificate.datasource.name</td>
                        <td>
                            <input type="text" value="java:/ECertificateDS" style="width: 95%;"> </td>
                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td>dgw.dbd.epayment.endpoint</td>
                        <td>
                            <input type="text" value="http://jeera-appwork:8082/epayment" style="width: 95%;"> </td>

                    </tr>
                    <tr>
                        <td>dgw.dbd.epayment.timeout</td>
                        <td>
                            <input type="text" value="90000" style="width: 95%;"> </td>
                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td>ete.ecm.document.enpoint</td>
                        <td>
                            <input type="text" value="http://localhost:8082/document" style="width: 95%;"> </td>

                    </tr>
                    <tr>
                        <td>ete.ecm.document.timeout</td>
                        <td>
                            <input type="text" value="90000" style="width: 95%;"> </td>
                    </tr>
                    <tr style="background: 	#F8F8FF">
                        <td>ete.xpress.billpayment.endpoint</td>
                        <td>
                            <input type="text" value="http://jeera-appwork:8090/BillPmt " style="width: 95%;"> </td>

                    </tr>
                    <tr>
                        <td>ete.xpress.billpayment.timeout</td>
                        <td>
                            <input type="text" value="90000" style="width: 95%;"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="three wide column">&nbsp;</div>
        </div>
    </div>



    <br>
    <br>
    <div class="ui center aligned grid">
        <button class="ui blue basic button">
            <i class="download circle icon"></i>
            บันทึก
        </button> &nbsp;&nbsp;&nbsp;
        <button class="ui grey basic button">
            <i class="times circle outline icon"></i>
            ยกเลิก
        </button>
    </div>
    <br>

</div>