<div class="ui container">
  <div class="ui one centered grid">
    <div class="row">
      <div class="six wide center aligned column">
        <div class="ui header">Count Increase/Decrease</div>
      </div>
    </div>
    <div class="row">
      <div class="six wide center aligned column">
        <label>Count: {{ (ex2|async).count }}</label>
      </div>
    </div>
    <div class="row">
      <div class="six wide colummn">
        <button class="ui mini icon button" (click)="plus()">
          <i class="plus icon"></i>
        </button>
        <button class="ui mini icon button" (click)="minus()">
          <i class="minus icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>