<div class="ui grid pushable">


  <div class="sixteen wide column">
    <h2 class="ui header">บันทึกข้อมูลจากเลขที่คำขอ (TMB Req No.)</h2>
    <div class="ui one column">
      <div class="row">
        <div class="ui top attached header segment">
          <span>ระบุเงื่อนไขในการค้นหา </span>
        </div>

        <div class="ui attached segment">
          <form class="ui form" #ngForm="ngForm" [formGroup]="form">

            <div class="ui one column stackable center aligned page grid">
              <div class="column twelve wide">
                <div class="inline fields">
                  <div class="four wide field ">
                    <label>TMB Req. No. </label>
                  </div>
                  
                  <div class="ten wide field " [ngClass]="{'error':(tmbReqNo.invalid && (tmbReqNo.dirty || tmbReqNo.touched))}">
                    <input type="text" formControlName="tmbReqNo" placeholder="TMB Req. No.">
                  </div>
                </div>
              </div>
            </div>

            <div class="inline field">
              <div class="ui centered grid">
                <div class="six wide column btn-group center aligned">
                  <button class="ui blue basic button" type="button" (click)="searchData()">
                    <i class="search icon"></i>
                    ค้นหา
                  </button>
                  <button class="ui grey basic button" type="button" (click)="clearData()">
                    <i class="trash alternate outline icon"></i>
                    ล้างข้อมูล
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div>
        <br>
        <div class="sixteen wide column" [hidden]="!dataDt.isSearch">
          <div class="ui top attached header segment">
            <span>ผลการค้นหา </span>
          </div>
          <div class="ui attached segment">
            <ng-datatable-search [ng-datatable]="dataDt"></ng-datatable-search>
            <br>
            <div style="overflow-x: auto;white-space: nowrap;">
              <table [ngDatatable]="dataConfig" #dataDt="ngDatatable" class="ui small celled table nowrap" style="width: 100%"
                id="table">
                <thead>
                  <tr>
                    <th class="collapsing">ลำดับ</th>
                    <th>วันที่ยื่นคำขอ</th>
                    <th>TMB Req. No.</th>
                    <th>เลขที่คำขอ (Ref.1)</th>
                    <th>เลขที่ตรวจสอบ (Ref.2)</th>
                    <th>จำนวนเงิน</th>
                    <th>ประเภทคำขอ</th>
                    <th>เลขที่นิติบุคคล </th>
                    <th>ชื่อบริษัท</th>
                    <th>สถานะดำเนินการ</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" *ngIf="dataDt.isEmpty">
                    <td colspan="21" style="text-align: center !important;">ไม่พบรายการ</td>
                  </tr>
                  <tr class="text-center" *ngFor="let data of dataDt.datas; let i=index" [ngStyle]="{'color': getFontStyeColor(data.statusCode, data.lockFlag, data.makerById)}">
                    <td style="text-align: center !important;">{{i+1}}</td>
                    <td style="text-align: center !important;">{{data.reqDateStr}}</td>
                    <td style="text-align: center !important;">{{data.tmbReqNo | tmbReqNo}}</td>
                    <td style="text-align: center !important;">{{ data.ref1 | emptyString }}</td>
                    <td style="text-align: center !important;">{{ data.ref2 | emptyString }}</td>
                    <td style="text-align: right !important;">{{data.amount | decimalFormat :"###,###.00" | emptyString
                      }} </td>
                    <td style="text-align: left !important;">{{data.typeDesc| emptyString}}</td>
                    <td style="text-align: center !important;">{{data.organizeId| emptyString}}</td>
                    <td style="text-align: left !important;">{{data.companyName| emptyString}}</td>
                    <td style="text-align: left !important;">{{data.statusName}}</td>
                    <td>
                      <button *ngIf="data.statusCode!=='10003'" [ngClass]="getButtonStlyeColor(data.statusCode, data.lockFlag, data.makerById)"
                        (click)="detail(data.id,data.statusCode, data.lockFlag, data.makerById)">แสดง
                        <i class="arrow alternate circle right outline icon"></i>
                      </button>
                      <button *ngIf="data.statusCode=='10003'" [ngClass]="getButtonStlyeColor(data.statusCode, data.lockFlag, data.makerById)"
                        (click)="detail(data.id,data.statusCode, data.lockFlag, data.createdById)">แสดง
                        <i class="arrow alternate circle right outline icon"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <ng-datatable-footer [ng-datatable]="dataDt"></ng-datatable-footer>

            <br>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>