<div class="ui grid pushable">


  <div class="sixteen wide column">
      <h2 class="ui header">บันทึกข้อมูลจากเลขที่คำขอ (TMB Req No.)</h2>
    <div class="ui one column">
      <div class="row">        
        <div class="ui top attached header segment">
          <span>ระบุเงื่อนไขในการค้นหา </span>
        </div>

        <div class="ui attached segment">
            <form class="ui form" #ngForm="ngForm" [formGroup]="form" (submit)="searchData()">
              
                <div class="ui one column stackable center aligned page grid">
                    <div class="column twelve wide">
                        <div class="inline fields">
                          <div class="four wide field ">
                            <label>TMB Req. No. </label>
                          </div>
                          <div class="ten wide field {{ validate('tmbReqNo', ngForm.submitted) ? '' : 'error' }} ">
                            <input type="number" formControlName="tmbReqNo" placeholder="TMB Req. No.">
                          </div>
                        </div>
                    </div>
                 </div>

                <div class="inline field">
                  <div class="ui centered grid">
                    <div class="six wide column center aligned">
                      <button class="ui blue basic button" type="submit">
                        <i class="search icon"></i>
                        ค้นหา
                      </button>&nbsp;&nbsp;&nbsp;&nbsp;
                      <button class="ui grey basic button" type="button" (click)="clearData()">
                        <i class="trash alternate outline icon"></i>
                        ล้างข้อมูล
                      </button>
                    </div>
                  </div>
                </div>

            </form>
          </div>
        <br>
        <div class="sixteen wide column" *ngIf="showData">
          <div class="ui top attached header segment">
            <span>ผลการค้นหา </span>
          </div>
            <div class="ui attached segment  {{ loading? 'loading' : '' }}">
              <div style="overflow-x: auto;white-space: nowrap;">
                <table class="ui small celled table nowrap" style="width: 100%" id="table">
                  <thead>
                    <tr>
                      <th class="collapsing">ลำดับ</th>
                      <th >วันที่ยื่นคำขอ</th>
                      <th>TMB Req. No.</th>
                      <th>เลขที่คำขอ (Ref.1)</th>
                      <th>เลขที่ตรวจสอบ (Ref.2)</th>
                      <th>จำนวนเงิน</th>
                      <th>ประเภทคำขอ</th>
                      <th>เลขที่นิติบุคคล </th>
                      <th>ชื่อบริษัท</th>
                      <th>สถานะดำเนินการ</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="text-center" *ngFor="let data of dataT; let i=index" [ngStyle]="{'color': getFontStyeColor(data.statusCode)}">
                        <td style="text-align: center !important;">{{i+1}}</td>
                        <td style="text-align: center !important;">{{data.reqDateStr}}</td>
                        <td style="text-align: center !important;">{{data.tmbReqNo}}</td>
                        <td style="text-align: center !important;">{{ data.ref1 | emptyString }}</td>
                        <td style="text-align: center !important;">{{ data.ref2 | emptyString }}</td>
                        <td style="text-align: right !important;">{{data.amount | decimalFormat :"###,###.00" | emptyString }} </td>
                        <td style="text-align: left !important;">{{data.typeDesc| emptyString}}</td>
                        <td style="text-align: center !important;">{{data.organizeId| emptyString}}</td>
                        <td style="text-align: left !important;">{{data.companyName| emptyString}}</td>
                        <td style="text-align: left !important;">{{data.statusName}}</td>
                        <td>
                          <button [ngClass]="getButtonStyeColor(data.statusCode)"  (click)="detail(data.id,data.statusCode)">แสดง
                            <i class="arrow alternate circle right outline icon"></i>
                          </button>
                        </td>
                    </tr>
                    <ng-container *ngIf="!dataT || dataT.length == 0">
                        <tr class="center aligned">
                          <td colspan="12"><h5> ไม่พบรายการ </h5></td>
                        </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>