<div class="ui grid">
    <div class="sixteen wide column">

        <h2 class="ui header">Audit Log
        </h2>


        <div class="ui top attached header segment">
            <span>ระบุเงื่อนไขในการค้นหา </span>
        </div>


        <div class="ui attached segment">
            <form class="ui form" [formGroup]="formadl" >
                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label class="custom-label-w-25">วันที่ดำเนินการ<span style="color: red"> * </span></label>
                    </div>
                    <div class="five wide field" [ngClass]="{'error':(dateForm.invalid && (dateForm.dirty || dateForm.touched))}">
                        <ng-calendar [config]="calendar1"  style="width:100%"></ng-calendar>
                    </div>
                    <div class="two wide field ">
                        <label>ถึงวันที่<span style="color: red"> * </span></label>
                    </div>

                    <div class="five wide field" [ngClass]="{'error':(dateTo.invalid && (dateTo.dirty || dateTo.touched))}">
                        <ng-calendar [config]="calendar2" style="width:100%"></ng-calendar>
                    </div>
                </div>


                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field ">
                        <label>User ID</label>
                    </div>
                    <div class="five wide field">
                        <input type="text" formControlName="createdById" placeholder="User ID">
                    </div>
                    <div class="two wide field ">
                        <label>Action</label>
                    </div>
                    <div class="five wide field">
                        <ui-dropdown [dropdown]="actionDropdown" #statusDropDown="ui-dropdown"></ui-dropdown>
                    </div>
                </div>
                <br>
                <br>
                <div class="ui center aligned grid btn-group">

                    <button class="ui blue basic button" type="button" (click)="searchData()" >
                        <i class="search icon"></i>
                        ค้นหา
                    </button>
                    <button class="ui grey  basic button" type="button" (click)="clearData()">
                        <i class="trash alternate outline icon"></i>
                        ล้างข้อมูล
                    </button>
                    <br>
                </div>
                <br>

                <br>
            </form>
        </div>

    </div>
</div>
<br>
<div class="sixteen wide column" [hidden]="!auditDt.isSearch">
    <div class="ui top attached header segment">
        <span>ผลการค้นหา </span>
    </div>
    <div class="ui attached segment">

        <ng-datatable-search [ng-datatable]="auditDt" ></ng-datatable-search>
        <br>
        <div style="overflow-x: auto;white-space: nowrap;">
            <table [ngDatatable]="auditConfig" #auditDt="ngDatatable" class="ui small celled table nowrap sortable" style="width: 100%" id="table">
                <thead>
                    <tr>
                        <th width="10%">ลำดับ </th>
                        <th width="20%" [ngSort]="auditDt" columnName="CREATED_DATETIME" >วันที่ดำเนินการ</th>
                        <th width="10%" [ngSort]="auditDt" columnName="CREATED_BY_ID" >User ID</th>
                        <th width="20%" [ngSort]="auditDt" columnName="ACTION_CODE" >Action</th>
                        <th width="40%" >รายละเอียด</th>
                    </tr>
                
                </thead>
                <tbody>
                    <tr class="text-center" *ngIf="auditDt.isEmpty">
                        <td colspan="21" style="text-align: center !important;">ไม่พบรายการ</td>
                    </tr>
                    <tr class="text-center" *ngFor="let data of auditDt.datas; let i=index">
                        <td style="text-align: center !important;">{{ auditDt.rownum + (i+1) }}</td>
                        <td style="text-align: center !important;">{{data.createdDatetime | datetimeFromString }}</td>
                        <td style="text-align: center !important;">{{data.createdById}}</td>
                        <td style="text-align: left   !important; white-space: pre-wrap; ">{{data.actionDesc}}</td>
                        <td style="text-align: left   !important; white-space: pre-wrap; ">{{data.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
        <ng-datatable-footer [ng-datatable]="auditDt"  ></ng-datatable-footer>

        <br>
        <br>

        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <button class="ui blue basic button" (click)="exportFile()">
                    <i class="file excel outline icon"></i>Export to Excel</button>
            </div>
        </div>
        <br>

    </div>
</div>