<div class="ui container">
  <div class="ui one grid">
    <div class="row">
      <div class="one column">
        <form class="ui form" (submit)="onSubmit(form)" #form="ngForm">
          <div class="inline fields">
            <div class="field">
              <label>name</label>
            </div>
            <div class="field">
              <div class="ui input">
                <input type="text" name="name" ngModel>
              </div>
            </div>
            <div class="field">
              <label>no</label>
            </div>
            <div class="field">
              <div class="ui input">
                <input type="text" name="no" ngModel>
              </div>
            </div>
            <div class="field">
              <button class="ui basic button" type="submit">ค้นหา</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>#</th>
              <th>No</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of ex3 | async; let i = index">
              <td>{{i+1}}</td>
              <td>{{e.no}}</td>
              <td>{{e.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>