<div class="ui {{ size || '' }} modal" id="{{modalId}}" *ngIf="type!='custom'">
    <div class="header color {{ class || '' }}">{{ title || '' }}</div>
    <div class="content">
        <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
    </div>
    <div class="actions" *ngIf="type=='alert'">
        <div class="ui center aligned grid">
            <div class="one column">
                <button class="ui blue cancel basic button" type="button" *ngIf="for == 'confirm'">
                    <i class="check circle outline icon"></i>
                    ยืนยัน
                </button>
                <button class="ui grey cancel basic button" type="button" *ngIf="for == 'notify'">
                    <i class="remove circle icon"></i>
                    ปิด
                </button>
            </div>
        </div>
    </div>
    <div class="actions" *ngIf="type=='confirm'">
        <div class="ui center aligned grid">
            <div class="one column">
                <div class="ui blue positive basic button" (click)="onApproved()">
                    <i class="check circle outline icon"></i>
                    {{ approveMsg || 'ยืนยัน' }}
                </div>
                <div class="ui grey negative basic button" (click)="onRejected()">
                    <i class="times circle outline icon"></i>
                    {{ rejectMsg || 'ยกเลิก' }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui {{ size || '' }} modal {{ class || '' }}" id="{{modalId}}" *ngIf="type=='custom'">
    <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
</div>