<div class="ui {{ size || '' }} modal {{ class || '' }}" id="{{modalId}}" *ngIf="type!='custom'">
    <i class="close icon" *ngIf="type!='confirm'"></i>
    <div class="header">{{ title || '' }}</div>
    <div class="content">
        <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
    </div>
    <div class="actions" *ngIf="type=='alert'">
        <div class="ui mini green cancel button center floated" *ngIf="for == 'confirm'">
            <i class="check icon"></i> ยืนยัน
        </div>
        <div class="ui mini red cancel button center floated" *ngIf="for == 'notify'">
            <i class="remove icon"></i> ปิด
        </div>
    </div>
    <div class="actions" *ngIf="type=='confirm'">
        <div class="ui positive mini button" (click)="onApproved()">
            <i class="check circle outline icon"></i>
            {{ approveMsg || 'ยืนยัน' }}
        </div>
        <div class="ui negative mini button" (click)="onRejected()">
            <i class="times circle outline icon"></i>
            {{ rejectMsg || 'ยกเลิก' }}
        </div>
    </div>
</div>

<div class="ui {{ size || '' }}} hidden transition modal" id="{{modalId}}" *ngIf="type=='custom'">
    <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
</div>