<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">รายงานสรุปการให้บริการ ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : Monthly
        </h2>

        <div class="ui top attached header segment">
            <span>ระบุเงื่อนไขในการค้นหา </span>
        </div>


        <div class="ui attached segment">
            <form class="ui form" #ngForm="ngForm" [formGroup]="form" (submit)="formSubmit(form)">

                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label>ตั้งแต่เดือน</label>
                    </div>
                    <div class="five wide field">
                        <ui-calendar [calendar]="calendar1" (calendarValue)="calendarValue('dateForm',$event)" style="width:100%"></ui-calendar>
                    </div>
                    <div class="two wide field">
                        <label>ถึงเดือน</label>
                    </div>
                    <div class="five wide field">
                        <ui-calendar [calendar]="calendar2" (calendarValue)="calendarValue('dateTo',$event)" style="width:100%"></ui-calendar>
                    </div>
                </div>


                <br>
                <br>
                <div class="ui center aligned grid">
                    <button class="ui blue basic button" type="button" (click)="searchData()">
                        <i class="search icon"></i>
                        ค้นหา
                    </button>
                    <button class="ui grey  basic button" type="button" (click)="clearData()">
                        <i class="trash alternate outline icon"></i>
                        ล้างข้อมูล
                    </button>
                    <br>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<br>
<div class="sixteen wide column" *ngIf="showData">
    <div class="ui top attached header segment">
        <span>ผลการค้นหา </span>
    </div>
    <div class="ui attached segment">
        <div>
            <table class="ui small celled table nowrap" id="table" style="width: 100%">
                <thead>
                    <tr>
                        <th rowspan="2">Segment</th>
                        <th rowspan="2">จำนวนคำขอ</th>
                        <th colspan="2">ประเภทคำขอ : ราย</th>
                        <th colspan="2">จำนวนเงิน : บาท</th>
                        <th rowspan="2">จำนวนเงิน</th>
                        <th colspan="2">สถานะ : จำนวนราย</th>
                        <th rowspan="2" style="width: 220px">สาเหตุ</th>
                    </tr>
                    <tr>
                        <th>หนังสือรับรอง </th>
                        <th>รับรองสำเนา</th>
                        <th>DBD </th>
                        <th>TMB</th>
                        <th>Success </th>
                        <th>Fail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let data of dataT; let i=index">
                        <td style="text-align: center !important;">{{data.custsegmentDesc}}</td>
                        <td style="text-align: center !important;">{{data.custsegmentCount}}</td>
                        <td style="text-align: center !important;">{{data.certificate}}</td>
                        <td style="text-align: center !important;">{{data.copyGuarantee}}</td>
                        <td style="text-align: center !important;">{{data.amountDbd}}</td>
                        <td style="text-align: center !important;">{{data.amountTmb}}</td>
                        <td style="text-align: center !important;">{{data.totalAmount}}</td>
                        <td style="text-align: center !important;">{{data.success}}</td>
                        <td style="text-align: center !important;">{{data.fail}}</td>
                        <td style="text-align: center">
                            <button class="ui mini red basic button" [routerLink]="[ '/rep/rep02100']">สาเหตุ
                                <i class="arrow alternate circle right outline icon"></i>
                            </button>
                            <button class="ui mini blue basic button" (click)="openModal(modal[0])"> รายละเอียด
                                <i class="arrow alternate circle right outline icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <button class="ui blue basic button" (click)="exportFile()">
                    <i class="file excel outline icon"></i>Export to Excel</button>
            </div>
        </div>
        <br>
    </div>
</div>