<!-- menu -->
<app-semantic-menu></app-semantic-menu>
<!-- menu -->

<!-- modal -->
<ui-modal [modal]="modalAlert">
  <ng-template></ng-template>
</ui-modal>
<ui-modal [modal]="modalAlertFunction">
  <ng-template></ng-template>
</ui-modal>
<ui-modal [modal]="modalAlertSuccess">
  <ng-template></ng-template>
</ui-modal>
<ui-modal [modal]="modalConfirm">
  <ng-template></ng-template>
</ui-modal>
<!-- modal -->

<!-- body -->
<div class="ui main container-fluid">
  <div class="ui active dimmer" style="background:rgba(0, 0, 0, 0.5)" *ngIf="(loading|async)">
    <div class="ui text loader">กำลังโหลด</div>
  </div>
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
</div>
<!-- body -->

<!-- footer -->
<app-semantic-footer></app-semantic-footer>
<!-- footer -->