<!-- menu -->
<app-semantic-menu></app-semantic-menu>
<!-- menu -->

<!-- modal -->
<ui-modal modalId="alert" size="small" title="แจ้งเตือน" class="notification" type="alert" for="notify">
  <ng-template>...</ng-template>
</ui-modal>
<ui-modal modalId="alert-success" size="small" title="แจ้งเตือน" class="notification" type="alert" for="confirm">
  <ng-template>...</ng-template>
</ui-modal>
<ui-modal modalId="confirm" size="small" title="การยืนยัน" type="confirm">
  <ng-template>...</ng-template>
</ui-modal>
<!-- modal -->

<!-- body -->
<div class="ui main container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- body -->

<!-- footer -->
<app-semantic-footer></app-semantic-footer>
<!-- footer -->