<ng-container [formGroup]="calendar.formGroup">
    <div class="ui calendar" id="{{calendar.calendarId}}">
        <div class="ui input {{ calendar.icon ? 'left icon' : '' }}">
            <i class="{{ calendar.icon ? calendar.icon : 'calendar' }} icon" *ngIf="calendar.icon"></i>
            <input type="text" [formControlName]="calendar.formControlName" name="{{calendar.calendarName}}"
                placeholder="{{calendar.placeholder}}" autocomplete="off">
        </div>
    </div>
</ng-container>