
<modal [id]="modal[1]" [size]="'small'" [type]="'custom'">
  <i class="close icon"></i>
  <div class="header">
   แจ้งเตือนยื่นใบคำขอเอกสารรับรองซ้ำ
  </div>
  <div class="content">
    <div class="ui form">    
      <div class="inline fields">
        <label>เนื่องจากระบบตรวจสอบข้อมูลพบว่าลูกค้าได้ทำการยื่นใบคำขอเอกสารรับรองประเภทนี้ไปแล้วนั้น<br> 
          ลูกค้ามีความประสงค์ต้องการขอเอกสารรับรองอีกครั้งหรือไม่ ถ้าต้องการกรุณากดปุ่ม "ดำเนินการต่อ" <br>  หากไม่ต้องการกรุณากดปุ่ม "ยกเลิก"</label>
      </div>
    </div>  
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="six wide column">
        <button class="ui mini primary button" (click)="closeModal(modal[2])" [routerLink]="['/performa']" >
         ดำเนินการต่อ
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui mini  button" (click)="closeModal(modal[2])">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</modal>




<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui form segment">
      <h4>Request Form สำหรับทำรายการให้ลูกค้าลงนาม </h4>
      <br>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>วันที่ขอ
          </label>
        </div>
        <div class="five wide field ">
          <p>01/01/2561</p>
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>TMB Req. No.
          </label>
        </div>
        <div class="five wide field ">
          <p>1012561000000001</p>
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field "></div>
        <div class="two wide field ">
          <label>ประเภทคำขอ</label>
        </div>
        <div class="five wide field">
          <select id="products" name="products" class="ui search dropdown" (change)="onSelectProducts($event)">
            <option *ngFor="let product of products; let i = index" value="{{i}}">
              {{product}}
            </option>
          </select>
        </div>
      </div>

      <br>


      <div>
        <table class="ui small celled table nowrap"  style="width: 100%">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="1" colspan="2">รายละเอียด
              </th>
              <th rowspan="2">ค่าธรรมเนียมของ DBD
              </th>
              <th rowspan="2">ค่าบริการของธนาคาร</th>
              <th rowspan="2">จำนวน (ฉบับ/หน้า/เรื่อง) </th>
            </tr>
            <tr style="display: none">
              <th>1</th>
              <th>2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5">
                <h5>ห้างหุ้นส่วนจำกัด บริษัทจำกัดและบริษัทมหาชนจำกัด</h5>
              </td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
            </tr>

            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>หนังสือรับรองนิติบุคคล</td>
              <td>ฉบับละ 200 บาท</td>
              <td>ฉบับละ 150 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนาบัญชีรายชื่อผู้ถือหุ้น</td>
              <td>ฉบับละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <h5>การประกอบธุรกิจของคนต่างด้าว</h5>
              </td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
            </tr>

            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>หนังสือรับรองข้อความที่กรมทะเบียนเก็บรักษาไว้ของการประกอบธุรกิจของคนต่างด้าว</td>
              <td>ฉบับละ 300-500 บาท</td>
              <td>ฉบับละ 150 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>หน้าละ 100 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>หน้าละ 50 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <h5>สมาคมและหอการค้า</h5>
              </td>
              <td style="display: none"></td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
              <td style="display: none">s</td>
            </tr>

            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนาเอกสารทะเบียน</td>
              <td>เรื่องละ 20 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>รับรองสำเนางบการเงิน</td>
              <td>เรื่องละ 20 บาท</td>
              <td>1-5 หน้าแรก 100 บาทหน้าถัดไปหน้าละ 20 บาท</td>
              <td>
                <input type="text" style="width: 85%;">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div class="inline fields">
        <div class="four wide field ">
          <label>เลขที่นิติบุคคล
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field ">
          <label>ชื่อนิติบุคคล
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field ">
          <label>Customer Segment
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field ">
          <label>เลขที่ CA/มติอนุมัติ
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field ">
          <label>วิธีการรับชำระ</label>
        </div>
        <div class="two wide field"></div>
        <div class="five wide field">
          <select id="paid" name="paid" class="ui search dropdown" (change)="onSelectpaid($event)">
            <option *ngFor="let paid of paid; let i = index" value="{{i}}">
              {{paid}}
            </option>
          </select>
        </div>
      </div>

      <div class="inline fields">
        <div class="two wide field ">
          <label>วิธีตัดบัญชี</label>
        </div>
        <div class="two wide field"></div>
        <div class="five wide field">
          <select id="debitMethod" name="debitMethod" class="ui search dropdown" (change)=" onSelectdebitMethod($event)">
            <option *ngFor="let debitMethod of debitMethod; let i = index" value="{{i}}">
              {{debitMethod}}
            </option>
          </select>
        </div>
      </div>
      <div class="inline fields">
          <div class="four wide field ">
            <label>Tran Code
            </label>
          </div>
          <div class="five wide field ">
              <p>8880
              </p>
          </div>         
        </div>

        <div class="inline fields">
            <div class="four wide field ">
              <label>GL Type
              </label>
            </div>
            <div class="five wide field ">
                <p>B533
                </p>
            </div>         
          </div>

          <div class="inline fields">
              <div class="four wide field ">
                <label>Account Type
                </label>
              </div>
              <div class="five wide field ">
                  <p>OOA
                  </p>
              </div>         
            </div>

      <div class="inline fields">
        <div class="four wide field ">
          <label>ระบุเลขที่บัญชี
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field ">
          <label>ชื่อบัญชี
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
      </div>


      <div class="inline fields">
        <div class="four wide field ">
          <label>ชื่อผู้ขอที่ต้องการแสดงบนใบเสร็จ
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field ">
          <label>เบอร์โทรลูกค้า
          </label>
        </div>
        <div class="five wide field ">
          <input type="text" placeholder="" value="">
        </div>
      </div>

      <div class="inline fields">
          <div class="four wide field ">
            <label>ใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
            </label>
          </div>
          <div class="five wide field ">
            <input type="file"  value="">
          </div>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="ui mini primary button">
            พิมพ์ใบคำขอ
          </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="inline fields">
            <div class="four wide field ">
              <label>สำเนาบัตรประชาชน
              </label>
            </div>
            <div class="five wide field ">
              <input type="file"  value="">
            </div>       
          </div>

      <div class="inline fields">
        <div class="four wide field ">
          <label>หมายเหตุ
          </label>
        </div>
        <div class="five wide field ">
          <textarea rows="2"></textarea>
        </div>
      </div>
      <br>
      <br>
      <div class="ui center aligned grid">
        <button class="ui mini primary button"  (click)="openModal(modal[1])"  >
          ยื่นใบคำขอ
        </button> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     
        <button class="ui mini  button">
          ยกเลิก
        </button>
        <br>
      </div>
      <br>
      <br>
    </div>
    <br>
  </div>
</div>

<!-- <modal [id]="modal[0]" [size]="'small'" [type]="'custom'">
  <i class="close icon"></i>
  <div class="header">
    ระบุใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
  </div>
  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="ten wide field">
          <label>ใบคำขอหนังสือรับรองนิติบุคคล</label>
        </div>
        <div class="six wide field">
          <input type="file" value="" />
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field">
          <label>หนังสือยินยอมให้หักเงินจากบัญชีเงินฝากเพื่อชำระค่าธรรมเนียมฯ</label>
        </div>
        <div class="six wide field">
          <input type="file" value="" />
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="six wide column">
        <button class="ui mini primary button" [routerLink]="['/performa']" (click)="closeModal(modal[0])">
          ตกลง
        </button>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="ui mini  button" (click)="closeModal(modal[0])">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
  <!-- id modal[0] = `modal1` -->
<!-- </modal> -->