/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eceff4;
}

.dataTables_paginate>.ui.pagination {
    font-size: .78571429rem !important;
}

.dataTables_info {
    font-size: .9em !important;
    padding-top: 0 !important;
}

.ui.dimmer {
    display: block !important;
}

.ui.modal {
    margin-top: -92.7px;
    display: block !important;
}

input.custom-readonly,
select.custom-readonly {
    background-color: #ccc !important;
}

label.custom-label-w-35 {
    width: 35em !important;
}

label.custom-label-w-25 {
    width: 25em !important;
}

label.custom-label-w-30 {
    width: 25em !important;
}

label.custom-label-w-20 {
    width: 20em !important;
}

label.custom-label-w-15 {
    width: 15em !important;
}

label.custom-label-w-10 {
    width: 10em !important;
}

label.custom-label-w-5 {
    width: 5em !important;
}

.bg-row-highlight {
    background-color: rgb(241, 126, 126) !important;
}

.bg-row-orange-highlight {
    background-color: rgb(241, 177, 125) !important;
}

.bg-row-blue-highlight {
    background-color: rgb(195, 214, 238) !important;
}

.bg-row-purple-highlight {
    background-color: rgb(222, 177, 236) !important;
}

.bg-row-light-gray-highlight {
    background-color: rgb(250, 250, 251) !important;
}

.bg-red {
    background-color: rgb(248, 141, 139) !important;
}

.bg-yellow {
    background-color: rgb(247, 245, 131) !important;
}

.bg-green {
    background-color: rgb(139, 248, 148) !important;
}

td.right {
    text-align: right !important;
}

td.center {
    text-align: center !important;
}

button.width-100 {
    width: 100px !important;
}

button.width-115 {
    width: 115px !important;
}

img.image-width {
    width: 16px !important;
}

img.image-width-18 {
    width: 18px !important;
}

.bg-template {
    background-color: #1e83db;
    color:White 
}
.font-template{
    color:White 
}
.textarea {
    padding: 2px 0px 0px 2px;
}