.landpage-image{
    height: 300%;
}

.lan dpage-image{
  background-image: url(/src/assets/image/Background.png);
}

.bg {
  z-index: -999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(/src/assets/image/Background.png);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}