<div class="bg"></div>
<div class="ui one column grid">
    <div class="ui two wide column">
        <h1 class="logo">TMB</h1>
        <!-- <img src="../assets/image/TMBLogo.png" width="100%"> -->
    </div>
    <div class="ui twelve wide center aligned column text-content content">
        <h2 style="top: 10px;">
            <p>ยินดีต้อนรับ คุณ สุรเดช แสนสมบูรณ์สุข</p>
        </h2>
        <h2 style="top: 44px;">
            <p>TMB e-Certificate System</p>
        </h2>
        <h2 style="bottom: 50%;">
            <p style="bottom: -50%">Enter Site</p>
        </h2>
        <h3 style="bottom: 81px">
            <p>ระบบ TMB e-Certificate ได้เพิ่มช่องทางการให้บริการออกหนังสือรับรองนิติบุคคล</p>
        </h3>
        <h3 style="bottom: 56px">
            <p>สำหรับพนักงาน TMB</p>
        </h3>
        <h3 style="bottom: 10px">
            <p>เพื่อให้ผู้ใช้บริการเกิดความสะดวก ประหยัดเวลา และค่าใช้จ่ายในการเดินทาง ได้อย่างมีประสิทธิภาพ.....</p>
        </h3>
    </div>
    <div class="ui two wide column"></div>
</div>
<div class="ui vertical footer">
    <div class="ui container-fluid">
        <div class="ui one column grid">
            <div class="ui seven wide leftfloated column">
                <p style="font-size: 10.5px;">
                    <a class="underline bold black">การให้บริการ TMB e-Certificate System</a><br> - เปิดให้บริการทำการ ทุกวันจันทร์
                    - ศุกร์ เวลา 08.30 - 16.30 น. หลังเวลาทำการให้บริการในวันถัดไป<br>
                    <a class="underline bold black">ข้อปฎิบัติการใช้ระบบ</a><br> 1.ผู้ขอใช้บริการ ต้องกรอกข้อมูลรายละเอียดต่างๆ
                    ตามจริงให้ครบถ้วน พร้อมแนบเอกสารที่เกี่ยวข้องทุกครั้ง<br> 2.เจ้าของบัญชีเงินฝาก ต้องแนบสำเนาบัตรประชาชน
                    พร้อมรับรองสำเนาถูกต้อง
                    <br> 3.ธนาคารจะดำเนินการตามความประสงค์ที่ระบุในแบบฟอร์ม ไม่สามารถยกเลิก หรือ เปลี่ยนแปลง หรือคืนค่าใช้จ่ายใดๆ
                    <br> 4.การขอหนังสือรับรอง รับรองสำเนาเอกสารและถ่ายเอกสารทางทะเบียนนิติบุคคลผ่านธนาคาร ธนาคารจะเรียกเก็บชำระค่าธรรมเนียม
                    และค่าบริการตามที่กำหนดไว้ในระบบเท่านั้น<br> 5.กรณียอดเงินในบัญชี ไม่พอตัดค่าธรรมเนียมทั้งจำนวน หน่วยงานส่งเรื่องคืนผู้ขอใช้บริการ
                    <br>
                </p>
            </div>
            <div class="ui five wide right floated column">
                <p style="font-size: 10.5px;">
                    <a class="underline bold black">หากมีข้อสงสัย สอบถามเพิ่มเติมได้ที่</a><br> TMB Center e-Certificate
                    ชั้น 4B<br> ธนาคารทหารไทย จำกัด(มหาชน) สำนักงานใหญ่<br> 3000 ถนนพหลโยธิน แขวงจอมพล เขตจตุจักร กรุงเทพฯ
                    10900
                    <br> หรือ เบอร์โทรศัพท์ 02-299-1111 ต่อ xxxx<br> E-mail: <a class="underline blue">
                        xxxx@tmbbank.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>