<div class="bg" style="background-image: url(assets/image/Background.png);"></div>
<div class="ui stackable grid">
  <div class="row content" *ngIf="isShowDashBoard">
    <div class="sixteen wide tablet three wide computer column content">
      <div class="ui vertical menu">
        <a class="item" style="font-size: 13px;color:#2185D0;" (click)="searchStatus('10001')">
          คำขอใหม่
          <div class="ui  label blue" style="font-size: 13px"> {{(dashboard|async).newReq}} </div>
        </a>
        <a class="item" style="font-size: 13px;color:red;" (click)="searchStatus('10003')">
          ปฏิเสธคำขอ
          <div class="ui label red"> {{(dashboard|async).reject}} </div>
        </a>
        <a class="item teal item red" style="font-size: 13px;color:red;" (click)="searchStatus('10004')">
          ยกเลิกคำขอ
          <div class="ui label red "> {{(dashboard|async).cancle}} </div>
        </a>
        <a class=" item" style="font-size: 13px;color:#2185D0;" (click)="searchStatus('10005')">
          รออนุมัติการชำระเงิน
          <div class="ui label blue"> {{(dashboard|async).paywaiting}} </div>
        </a>
        <a class="item" style="font-size: 13px;" (click)="searchStatus('10006')">
          อนุมัติการชำระเงิน
          <div class="ui label "> {{(dashboard|async).payapprove}} </div>
        </a>
        <a class="item" style="font-size: 13px;color:red;" (click)="searchStatus('10007')">
          ปฏิเสธการชำระเงิน
          <div class="ui label red"> {{(dashboard|async).payreject}} </div>
        </a>
        <a class="item" style="font-size: 13px;color:red;" (click)="searchStatus('10008')">
          ชำระเงินไม่สำเร็จ
          <div class="ui label red"> {{(dashboard|async).payfail}} </div>
        </a>
        <a class="item" style="font-size: 13px;color:#2185D0;" (click)="searchStatus('10009')">
          รออัพโหลด Certificate
          <div class="ui label blue"> {{(dashboard|async).waituploadcert}} </div>
        </a>
        <a class="item" style="font-size: 13px;" (click)="searchStatus('10010')">
          ดำเนินการสำเร็จ
          <div class="ui label "> {{(dashboard|async).complete}} </div>
        </a>
        <a class="item" style="font-size: 13px;color:#2185D0;" (click)="searchStatus('10011')">
          รอบันทึกคำขอ<br>(ลูกค้าทำรายเอง)
          <div class="ui label blue"> {{(dashboard|async).keyinReq}} </div>
        </a>
      </div>
    </div>
    <div class="sixteen wide tablet thirteen wide computer column">
      <h2 class="head-1">ยินดีต้อนรับ คุณ {{ (userdetail|async).firstName}} {{ (userdetail|async).lastName}}</h2>
      <h3 class="head-2">ระบบ TMB e-Certificate ได้เพิ่มช่องทางการให้บริการออกหนังสือรับรองนิติบุคคล</h3>
      <h3 class="head-3">เพื่อให้ผู้ใช้บริการเกิดความสะดวก ประหยัดเวลา และค่าใช้จ่ายในการเดินทาง
        ได้อย่างมีประสิทธิภาพ.....</h3>
    </div>
  </div>
  <div class="ui vertical footer" style="background:#0079C0; color: #FFF;">
    <div class="ui container fluid">
      <div class="ui one stackable column grid">
        <div class="ui sixteen wide tablet seven wide computer left floated column">
          <p style="font-size: 10.5px;">
            <a class="underline white">การให้บริการ TMB e-Certificate System</a>
            <br> - เปิดให้บริการทำการ ทุกวันจันทร์ - ศุกร์ เวลา 08.30 - 16.30 น. หลังเวลาทำการให้บริการในวันถัดไป
            <br>
            <a class="underline white">
              ข้อปฎิบัติการใช้ระบบ</a>
            <br> 1.ผู้ขอใช้บริการ ต้องกรอกข้อมูลรายละเอียดต่างๆ ตามจริงให้ครบถ้วน พร้อมแนบเอกสารที่เกี่ยวข้องทุกครั้ง
            <br> 2.เจ้าของบัญชีเงินฝาก ต้องแนบสำเนาบัตรประชาชน พร้อมรับรองสำเนาถูกต้อง
            <br> 3.ธนาคารจะดำเนินการตามความประสงค์ที่ระบุในแบบฟอร์ม ไม่สามารถยกเลิก หรือ เปลี่ยนแปลง
            หรือคืนค่าใช้จ่ายใดๆ
            <br> 4.การขอหนังสือรับรอง รับรองสำเนาเอกสารและถ่ายเอกสารทางทะเบียนนิติบุคคลผ่านธนาคาร
            ธนาคารจะเรียกเก็บชำระค่าธรรมเนียม
            และค่าบริการตามที่กำหนดไว้ในระบบเท่านั้น
            <br> 5.กรณียอดเงินในบัญชี ไม่พอตัดค่าธรรมเนียมทั้งจำนวน หน่วยงานส่งเรื่องคืนผู้ขอใช้บริการ
            <br>
          </p>
        </div>
        <div class="ui sixteen wide tablet three wide computer right floated column" style="margin-left: 0;">
          <p style="font-size: 10.5px;">
            <a class="underline white">หากมีข้อสงสัย สอบถามเพิ่มเติมได้ที่</a>
            <br> TMB Center e-Certificate ชั้น 4B
            <br> ธนาคารทหารไทย จำกัด(มหาชน) สำนักงานใหญ่
            <br> 3000 ถนนพหลโยธิน แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900
            <br> หรือ เบอร์โทรศัพท์ 02-299-1111 ต่อ 5544
            <br> E-mail:
            <a class="underline white">
              TMB_Certificate@tmbbank.com
            </a>
            <br>
          </p>
        </div>
      </div>

      <div class="ui center aligned container common-footer grid" style="margin-top: -30px;">
        <p>© สงวนลิขสิทธิ์ 2561 ธนาคารทหารไทย จำกัด (มหาชน)</p>

      </div>

    </div>
  </div>
</div>