<div class="ui borderless menu fixed" style="background: 	#fff;z-index: 999;height: 90px;">
  <div class="ui container">
      <div class="ui one column grid">
          <div class="ui five wide column login-icon">
              <img class="logo" src="assets/image/TMBLogo.png" style="width: 100%;height: 85px;">
          </div>
        </div>
  </div>
</div>
<div class="ui one column grid login-page">
  <div class="ui five wide column bg-login login">
    <b>
      <font color="#F0FFFF"> เข้าสู่ระบบ </font>
    </b>
    <div class="ui form segment bg-login form-login">
      <div class="inline-fields">
        <div class="ui left labeled icon input input-login">
          <input type="text" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="inline-fields">
        <div class="ui left labeled icon input input-login">
          <input type="password" placeholder="Password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="inline-fields">
        <button class="ui button btn-login" [routerLink]="[ '/home']">
          <font color="#F0FFFF"> เข้าสู่ระบบ </font>
        </button>
      </div>
    </div>
  </div>
  <div class="ui eleven wide column frame-img">
      <img class="ui small floated image" src="assets/image/Background.png">
  </div>  
</div>