div1 {
    background-color: lightblue;
}

.ui.footer {
    background-color: #fff;
    position: absolute;
    margin-top: -50px;
    left: 0;
    width: 100%;
    padding: 15px 0;
}

.login-icon {
    padding-left: 0;
}

.login-page {
    margin-top: 0 !important;
    padding-top: 0 !important;
    height: calc(100vh - 154px);
}

.form-login {
    padding: 0 !important;
}

.login {
    min-height: 100%;
}

.bg-login {
    background:#0A6197;
    box-shadow: none !important;
    border: 0 !important;
}

.input-login {
    width: 100%;
    margin-bottom: 1em;
}

.btn-login {
    background-color: #007ABC;
    width: 100%;
}

.frame-img {
    padding: 0!important;
}

.floated.image {
    height: 100% !important;
    width: 100% !important;
}