<div class="ui fixed borderless menu" style="background:#0079c0;z-index: 999;height: 75px;">
  <img class="logo-main" routerLink="/home" src="assets/image/TMBLogo.png">
  <img class="logo-partner" routerLink="/home" src="assets/image/footer.jpg">
  <ng-container *ngFor="let main of routes">
    <ng-container *ngIf="main.func">
      <a class="ui dropdown item" (click)="main.func()">{{main.label}}</a>
    </ng-container>
    <ng-container *ngIf="main.url&&!main.func&&main.role">
      <a class="ui dropdown item" routerLink="{{main.url}}" routerLinkActive="active">{{main.label}}</a>
    </ng-container>
    <ng-container *ngIf="!main.url&&main.child&&main.child.length>0&&!main.func&&main.role">
      <div class="ui simple dropdown item">
        {{main.label}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <ng-container *ngFor="let sub1 of main.child">
            <ng-container *ngIf="sub1.func&&sub1.role">
              <a class="ui dropdown item" (click)="sub1.func()">{{sub1.label}}</a>
            </ng-container>
            <ng-container *ngIf="sub1.url&&!sub1.func&&sub1.role">
              <a class="ui dropdown item" routerLink="{{sub1.url}}" routerLinkActive="active">{{sub1.label}}</a>
            </ng-container>
            <ng-container *ngIf="!sub1.url&&sub1.child&&sub1.child.length>0&&!sub1.func&&sub1.role">
              <div class="ui simple dropdown item">
                <i class="dropdown icon"></i>
                {{sub1.label}}
                <div class="menu">
                  <ng-container *ngFor="let sub2 of sub1.child">
                    <ng-container *ngIf="sub2.func&&sub2.role">
                      <a class="ui dropdown item" (click)="sub2.func()">{{sub2.label}}</a>
                    </ng-container>
                    <ng-container *ngIf="sub2.url&&!sub2.func&&sub2.role">
                      <a class="ui dropdown item" routerLink="{{sub2.url}}" routerLinkActive="active">{{sub2.label}}</a>
                    </ng-container>
                    <ng-container *ngIf="!sub2.url&&sub2.child&&sub2.child.length>0&&!sub2.func&&sub2.role">
                      <div class="ui simple dropdown item">
                        <i class="dropdown icon"></i>
                        {{sub2.label}}
                        <div class="menu">
                          <ng-container *ngFor="let sub3 of sub2.child">
                            <ng-container *ngIf="sub3.func&&sub3.role">
                              <a class="ui dropdown item" (click)="sub3.func()">{{sub3.label}}</a>
                            </ng-container>
                            <ng-container *ngIf="sub3.url&&!sub3.func&&sub3.role">
                              <a class="ui dropdown item" routerLink="{{sub3.url}}" routerLinkActive="active">{{sub3.label}}</a>
                            </ng-container>
                            <ng-container *ngIf="!sub3.url&&sub3.child&&sub3.child.length>0&&!sub3.func&&sub3.role">
                              <i class="dropdown icon"></i>
                              {{sub3.label}}
                              <div class="menu">
                                <ng-container *ngFor="let sub4 of sub3.child">
                                  <ng-container *ngIf="sub4.func&&sub4.role">
                                    <a class="ui dropdown item" (click)="sub4.func()">{{sub4.label}}</a>
                                  </ng-container>
                                  <ng-container *ngIf="sub4.url&&!sub4.func&&sub4.role">
                                    <a class="ui dropdown item" routerLink="{{sub4.url}}" routerLinkActive="active">{{sub4.label}}</a>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="ui simple dropdown item" style=" color:rgb(255, 255, 255)" (click)="logout()">
    ออกจากระบบ
  </div>
  <div class="right menu">
    <div class="ui simple  item " style=" color:rgb(255, 255, 255);line-height: 150%;margin-right: 20px;min-width: 275px;">
      {{(user|async).userId}} {{(user|async).firstName}} {{(user|async).lastName}} {{(user|async).roles[0]}}
      <br> วันที่ {{ currentDate | dateString }} เวลา {{clockdisplay.text}} น. {{(user|async).department}}
    </div>
  </div>
</div>