.menu.fixed {
    border: 0 !important;
    z-index: 999 !important;
}

img:focus {
    outline: 0;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.item {
    color: white !important;
}

/* .ui.three.wide.form {
    position: fixed;
    z-index: 1000;
    top: 12px;
    right: 12px;
} */

[class*="logo"] {
    cursor: pointer !important;
    outline: none !important;
    border: 0 !important;
}

.logo-main {
    width: 105px !important;
}

.logo-partner {
    margin-top: 17px !important;
    margin-right: 17px;
    height: 44px !important;
    width: 44px !important;
}

.ui.menu .active.item {
    background: rgba(0, 0, 0, .25) !important;
    font-weight: 400 !important;
    box-shadow: none !important;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .15);
}