.menu.fixed {
    border: 0 !important;
    z-index: 999 !important;
}

img:focus {
    outline: 0;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.item {
    color: white !important;
}

/* .ui.three.wide.form {
    position: fixed;
    z-index: 1000;
    top: 12px;
    right: 12px;
} */