<div class="ui borderless menu fixed" style="background:#0079c0;z-index: 999;height: 75px;">
  <img class="logo" routerLink="/home" src="assets/image/TMBLogo.png" style="width: 105px;">
  <div class="ui simple dropdown item " style=" color:rgb(255, 255, 255)">
    ทำคำขอใหม่
    <i class="dropdown icon "></i>
    <div class="menu ">
      <a class="item " outerLinkActive="active " routerLink="./nrq00000/nrq00100">
        Request Form สำหรับลูกค้าทำรายการเอง
      </a>
      <a class="item " [routerLink]="['/client-signed']" routerLinkActive="active">
        Request Form สำหรับทำรายการให้ลูกค้าลงนาม
      </a>
    </div>
  </div>
  <div class="ui simple dropdown item " style=" color:rgb(255, 255, 255)" [routerLink]="[ '/performa']">
    ตรวจสอบสถานะคำขอ
  </div>
  <div class="ui simple dropdown item" style=" color:rgb(255, 255, 255)">
    รายงาน
    <i class="dropdown icon "></i>
    <div class="menu ">
      <a class="item " [routerLink]="[ '/e-certificate-day'] " routerLinkActive="active ">รายงานสรุปการให้บริการ
        ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : End day
      </a>
      <a class="item " [routerLink]="[ '/e-certificate-monthly']" routerLinkActive="active ">รายงานสรุปการให้บริการ
        ขอหนังสือรับรองนิติบุคคล ( e-Certificate ) : Monthly
      </a>
      <a class="item " [routerLink]="[ '/output-VAT']" routerLinkActive="active ">รายงาน Output VAT
      </a>
    </div>
  </div>
  <div class="ui simple dropdown item " [routerLink]="['/monitoring']" style=" color:rgb(255, 255, 255)">
    Batch Monitoring
  </div>
  <div class="ui simple dropdown item " [routerLink]="['/auditLog']" style=" color:rgb(255, 255, 255)">
    Audit Log
  </div>
  <div class="ui simple dropdown item" style=" color:rgb(255, 255, 255)">
    Setup
    <i class="dropdown icon "></i>
    <div class="menu ">
      <a class="item " [routerLink]="['/role-Management']" routerLinkActive="active ">Role Management
      </a>
      <a class="item " [routerLink]="['/parameter-Configuration']" routerLinkActive="active ">Parameter Configuration
      </a>
      <a class="item " [routerLink]="['/email-configuration']" routerLinkActive="active ">Email Configuration
      </a>
    </div>
  </div>
  <div class="ui simple dropdown item " style=" color:rgb(255, 255, 255)" (click)="openModal(modal[2])">
    ออกจากระบบ
  </div>
  <div class="right menu ">
    <div class="ui simple  item " style=" color:rgb(255, 255, 255);line-height: 150%;margin-right: 20px">
      42307 สุรเดช แสนสมบูรณ์สุข Maker
      <br> วันที่ 21/8/2561 เวลา 14.30 น. ปฏิบัติการสินเชื่อธุรกิจ

    </div>

  </div>
</div>