<div class="ui grid">
  <div class="sixteen wide column">
    <form class="ui form segment" (submit)="onSubmit(form)" #form="ngForm">
      <h4>Request Form สำหรับทำรายการให้ลูกค้าลงนาม </h4>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>วันที่ขอ</label>
        </div>
        <div class="five wide field">
          {{ reqDate || '01/01/2561' }}
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>TMB Req. No.
          </label>
        </div>
        <div class="five wide field">
          20180900001
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ประเภทคำขอ</label>
        </div>
        <div class="five wide field">
          <ui-dropdown dropdownId="reqtype" dropdownName="reqtype" type="search" [values]="reqType | async" valueName="code"
            labelName="name" (valueChange)="reqTypeChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline field ui-table">
        <table class="ui small celled table" style="width: 100%">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="1" colspan="2">รายละเอียด</th>
              <th rowspan="2">ค่าธรรมเนียมของ DBD</th>
              <th rowspan="2">ค่าบริการของธนาคาร</th>
              <th rowspan="2" style="width: 12%">จำนวน : ชุด</th>
            </tr>
            <tr style="display: none">
              <th>1</th>
              <th>2</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!reqTypeChanged || reqTypeChanged.length == 0">
              <tr class="center aligned">
                <td colspan="5">
                  <h5> ไม่มีข้อมูลประเภทคำขอ </h5>
                </td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let req of reqTypeChanged; let i = index">
              <ng-container *ngIf="!req.code">
                <tr>
                  <td colspan="5">
                    <h5>{{ req.typeDesc }}</h5>
                  </td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="req.code">
                <tr>
                  <td class="center aligned">
                    <div class="ui checkbox">
                      <input type="checkbox" name="check{{i}}" (change)="toggleChk(i)" [(ngModel)]="reqTypeChanged[i].checked">
                      <label></label>
                    </div>
                  </td>
                  <td>{{ req.certificate }}</td>
                  <td>{{ req.feeDbd }}</td>
                  <td>{{ req.feeTmb }}</td>
                  <td>
                    <div class="ui input {{ reqTypeChanged[i].checked ? '' : 'disabled' }}">
                      <input type="number" name="value{{i}}" style="width: 100%;" [(ngModel)]="reqTypeChanged[i].value">
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>เลขที่นิติบุคคล
          </label>
        </div>
        <div class="five wide field">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field">
          <label>ชื่อนิติบุคคล
          </label>
        </div>
        <div class="five wide field">
          <input type="text" placeholder="" value="">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>Customer Segment
          </label>
        </div>
        <div class="five wide field">
          <ui-dropdown dropdownId="customSeg" dropdownName="customSeg" type="search" [values]="customSeg | async"
            valueName="code" labelName="name" (valueChange)="customSegChange($event)"></ui-dropdown>
        </div>
        <div class="two wide field">
          <label>เลขที่ CA/มติอนุมัติ
          </label>
        </div>
        <div class="five wide field">
          <input type="text" placeholder="" value="">
        </div>
      </div>

      <div class="inline fields" *ngIf="flag">
        <div class="four wide field">
          <label>ชื่อหน่วยงาน
          </label>
        </div>
        <div class="five wide field">
          <input type="text" placeholder="" value="">
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field">
          <label>วิธีการรับชำระ</label>
        </div>
        <div class="two wide field"></div>
        <div class="five wide field">
          <ui-dropdown dropdownId="payMethod" dropdownName="payMethod" type="search" [values]="payMethod | async"
            valueName="code" labelName="name" (valueChange)="payMethodChange($event)"></ui-dropdown>
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>วิธีหักบัญชีจาก</label>
        </div>

        <div class="five wide field">
          <ui-dropdown dropdownId="subAccMethod" dropdownName="subAccMethod" type="search" [values]="subAccMethod | async"
            valueName="code" labelName="name" (valueChange)="subAccMethodChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>Tran Code
          </label>
        </div>
        <div class="five wide field">
          8880
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>GL Type
          </label>
        </div>
        <div class="five wide field">
          B533
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>Account Type
          </label>
        </div>
        <div class="five wide field">
          OOA
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>เลขที่บัญชี</label>
        </div>

        <div class="five wide field">
          <input type="text" placeholder="123-1-12345-9">
        </div>
        <div class="two wide field">
          <label>ชื่อบัญชี</label>
        </div>
        <div class="five wide field">
          <input type="text">
        </div>
      </div>


      <div class="inline fields">
        <div class="four wide field">
          <label>ชื่อบนใบเสร็จธนาคาร TMB</label>
        </div>
        <input type="checkbox">
        &nbsp;&nbsp;
        <div class="one wide field">
          <label>ชื่อนิติบุคคล</label>
        </div>

        <div class="four wide field" style="margin-left: -15px">
          <input type="text" placeholder="" value="">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรผู้ขอ/ลูกค้า (ถ้ามี)</label>
        </div>
        <div class="five wide field">
          <input type="text" placeholder="" value="">
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>ใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
          </label>
        </div>
        <div class="five wide field">
          <input type="file" value="">
        </div>
        <div class="two wide field">
          <label>ที่อยู่</label>
        </div>
        <div class="five wide field">
          <textarea rows="3"></textarea>
        </div>
      </div>


      <div class="inline fields">
        <div class="four wide field">
          <label>สำเนาบัตรประชาชน</label>
        </div>
        <div class="five wide field">
          <input type="file" value="">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>สำเนาใบเปลี่ยนชื่อหรือนามสกุล(ถ้ามี)</label>
        </div>
        <div class="five wide field">
          <input type="file" value="">
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>หมายเหตุ</label>
        </div>
        <div class="five wide field">
          <textarea rows="2"></textarea>
        </div>
      </div>
      <div class="inline field">
        <div class="ui one grid">
          <div class="center aligned one column btn-group">
            <button class="ui blue basic button" type="submit">
              <i class="print icon"></i>
              พิมพ์ใบคำขอ
            </button>
            <button class="ui blue basic button" type="button" (click)="send()">
              <i class="file alternate outline icon"></i>
              ยื่นใบคำขอ
            </button>
            <button class="ui grey basic button" type="button">
              <i class="times circle outline icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>