<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">บันทึกคำขอ</h2>
    <form class="ui form segment" #ngForm="ngForm" [formGroup]="form" (submit)="formSubmit(form, $event)">
      <input type="hidden" name="reqFormId" formControlName="reqFormId">
      <div class="inline fields">
        <div class="two wide field">
          <label>วันที่ขอ</label>
        </div>
        <div class="five wide field">
          {{ reqDate | dateString }}
        </div>
      </div>

      <div class="inline fields">
        <div class="two wide field">
          <label>TMB Req. No.
          </label>
        </div>
        <div class="five wide field">
          {{ tmbReqFormId | emptyString }}
        </div>
      </div>

      <div class="inline fields">
        <div class="required two wide field">
          <label>ประเภทคำขอ</label>
        </div>
        <div #reqTypeSelect class="five wide field" [ngClass]="{'error': invalid(form.controls.reqTypeSelect) }">
          <ui-dropdown [selected]="data.cerTypeCode" [dropdown]="dropdownObj.reqType" (valueChange)="reqTypeChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline field ui-table">
        <table class="ui segment small celled table" style="width: 100%">

          <div class="ui active inverted dimmer" *ngIf="loading">
            <div class="ui loader"></div>
          </div>
          <thead>
            <tr style="text-align: center;">
              <th rowspan="1" colspan="2">รายละเอียด</th>
              <th rowspan="2">ค่าธรรมเนียมของ DBD</th>
              <th rowspan="2">ค่าบริการของธนาคาร</th>
              <th rowspan="2">วันที่รับจด/วันที่รับ/ปีงบการเงิน</th>
              <th rowspan="2" style="width: 12%">จำนวน : ชุด</th>
            </tr>
            <tr style="display: none">
              <th>1</th>
              <th>2</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!reqTypeChanged || reqTypeChanged.length == 0 || form.controls.reqTypeSelect.value == ''">
              <tr class="center aligned">
                <td colspan="5">
                  <h5> ไม่มีข้อมูลประเภทคำขอ </h5>
                </td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="form.controls.reqTypeSelect.value != ''">
              <ng-container *ngFor="let req of reqTypeChanged; let i = index">
                <ng-container *ngIf="!req.code">
                  <tr>
                    <td colspan="5">
                      <h5>{{ req.typeDesc }}</h5>
                    </td>
                    <td style="display: none">&nbsp;</td>
                    <td style="display: none">&nbsp;</td>
                    <td style="display: none">&nbsp;</td>
                    <td style="display: none">&nbsp;</td>
                    <td style="display: none">&nbsp;</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="req.code&&req.feeDbd">
                  <tr>
                    <td class="center aligned">
                      <div class="field" [ngClass]="{'error': invalid(form.controls['chk'+i]) }">
                        <div class="ui checkbox">
                          <input #chk type="checkbox" name="chk{{i}}" formControlName="chk{{i}}" (click)="toggleChk(i)">
                          <label></label>
                        </div>
                      </div>
                    </td>
                    <td>{{ req.certificate }}</td>
                    <td>{{ req.feeDbd }}</td>
                    <td>{{ req.feeTmb }}</td>
                    <td class="center aligned">
                      <div class="field" *ngIf="req.code=='10006'||req.code=='20006'||req.code=='30005'" [ngClass]="{'error': invalid(form.controls['cal'+i])}">
                        <div class="ui input" style="width: 100%">
                          <ui-calendar style="width: 100%" #cal [calendar]="calend[i]" [disableCalendar]="!form.controls['chk'+i].value"
                            (calendarValue)="calendarValue('cal'+i,$event)"></ui-calendar>
                        </div>
                      </div>
                      <div class="field" *ngIf="req.code=='10007'" [ngClass]="{'error': invalid(form.controls['cal'+i])}">
                        <div class="ui input" style="width: 100%">
                          <ui-calendar style="width: 100%" #cal [calendar]="calend[i]" [disableCalendar]="!form.controls['chk'+i].value"
                            (calendarValue)="calendarValue('cal'+i,$event)"></ui-calendar>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="field" [ngClass]="{'error': invalid(form.controls['cer'+i]) }">
                        <div class="ui input">
                          <input (keypress)="accNoPress($event)" #cer type="number" name="cer{{i}}" [disableControl]="!form.controls['chk'+i].value"
                            formControlName="cer{{i}}" min="1" style="width: 100%;">
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="req.code&&!req.feeDbd&&req.children">
                  <ng-container>
                    <tr>
                      <td>
                        <div class="center aligned field" [ngClass]="{'error': invalid(form.controls['chk'+i]) }">
                          <div class="ui checkbox">
                            <input #chk type="checkbox" name="chk{{i}}" formControlName="chk{{i}}" (click)="toggleChk(i)">
                            <label></label>
                          </div>
                        </div>
                      </td>
                      <td colspan="5">{{ req.certificate }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor="let item of req.children; let j = index">
                    <tr *ngIf="j>0" [ngClass]="{ 'hidden': !showChildren }">
                      <td></td>
                      <td class="left aligned">
                        <div class="inline field" [ngClass]="{'error': invalid(form.controls['etc'+i+'Child'+j])||invalid(form.controls['chk'+i+'Child'+j]) }">
                          <div class="ui checkbox">
                            <input #chkChild type="checkbox" name="chk{{i}}Child{{j}}" (click)="toggleChkChild(i, j)"
                              formControlName="chk{{i}}Child{{j}}">
                            <label>{{ item.certificate }}</label>
                          </div>
                          <div class="ui input" *ngIf="item.certificate === 'อื่นๆ'">
                            <input #etcChild type="text" formControlName="etc{{i}}Child{{j}}" [disableControl]="!form.controls['chk'+i+'Child'+j].value">
                          </div>
                        </div>
                      </td>
                      <td>{{ item.feeDbd }}</td>
                      <td>{{ item.feeTmb }}</td>
                      <td>
                        <div *ngIf="!(item.code == '10003' || item.code == '20003' || item.code == '30002')" class="center aligned field"
                          [ngClass]="{'error': invalid(form.controls['cal'+i+'Child'+j])}">
                          <div class="ui input">
                            <ui-calendar #calChild [calendar]="calendar[j]" [disableCalendar]="!form.controls['chk'+i+'Child'+j].value"
                              (calendarValue)="calendarValue('cal'+i+'Child'+j,$event)"></ui-calendar>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="field" [ngClass]="{'error': invalid(form.controls['cer'+i+'Child'+j]) }">
                          <div class="ui input">
                            <input (keypress)="accNoPress($event)" #cerChild min="1" type="number" name="cer{{i}}Child{{j}}"
                              [disableControl]="!form.controls['chk'+i+'Child'+j].value" formControlName="cer{{i}}Child{{j}}"
                              style="width: 100%;">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="inline fields">
        <div class="required four wide field">
          <label>เลขที่นิติบุคคล
          </label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.corpNo) }">
          <input type="text" (keypress)="accNoPress($event)" #corpNo formControlName="corpNo" placeholder="เลขที่นิติบุคคล">
        </div>
        <div class="required two wide field">
          <label>ชื่อนิติบุคคล
          </label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.corpName) }">
          <input type="text" #corpName formControlName="corpName" (input)="handleCorpName($event)" placeholder="ชื่อนิติบุคคล">
        </div>
      </div>
      <div class="inline fields" [ngClass]="{'hidden': roles(_roles.REQUESTOR)}">
        <div class="required four wide field">
          <label>Customer Segment
          </label>
        </div>
        <div #customSegSelect class="five wide field" [ngClass]="{'error': invalid(form.controls.customSegSelect), 'disabled': roles(_roles.REQUESTOR) }">
          <ui-dropdown [selected]="data ? data.custsegmentCode : ''" [dropdown]="dropdownObj.customSeg" (valueChange)="customSegChange($event)"></ui-dropdown>
        </div>
        <div class="two wide field" [ngClass]="{'required': !roles(_roles.MAKER)}">
          <label>เลขที่ CA/มติอนุมัติ
          </label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.acceptNo) }">
          <input type="text" (keypress)="accNoPress($event)" #acceptNo formControlName="acceptNo" placeholder="เลขที่ CA/มติอนุมัติ">
        </div>
      </div>

      <div class="inline fields" *ngIf="form.controls.customSegSelect.value == '20007'">
        <div class="four wide field">
          <label>ชื่อหน่วยงาน
          </label>
        </div>
        <div class="five wide field">
          <input type="text" #departmentName formControlName="departmentName" placeholder="ชื่อหน่วยงาน">
        </div>
      </div>
      <div class="inline fields" [ngClass]="{'hidden': roles(_roles.REQUESTOR)}">
        <div class="required two wide field">
          <label>วิธีการรับชำระ</label>
        </div>
        <div class="two wide field"></div>
        <div #payMethodSelect class="five wide field" [ngClass]="{'error': invalid(form.controls.payMethodSelect) }">
          <ui-dropdown [selected]="data ? data.paidTypeCode : ''" [dropdown]="dropdownObj.payMethod" (valueChange)="payMethodChange($event)"></ui-dropdown>
        </div>
        <div class="two wide field">
          <label>ที่อยู่</label>
        </div>
        <div class="five wide field">
          <textarea #address formControlName="address" rows="2"></textarea>
        </div>
      </div>

      <div class="inline fields" [ngClass]="{ 'hidden': form.controls.payMethodSelect.value != '30003' }">
        <div class="four wide field">
          <label>วิธีหักบัญชีจาก</label>
        </div>
        <div #subAccMethodSelect class="five wide field" [ngClass]="{'error': invalid(form.controls.subAccMethodSelect) }">
          <ui-dropdown [selected]="data ? data.debitAccountType : ''" [dropdown]="dropdownObj.subAccMethod"
            (valueChange)="subAccMethodChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline fields" [ngClass]="{ 'hidden': form.controls.payMethodSelect.value != '30003' }">
        <div class="four wide field">
          <label>Tran Code
          </label>
        </div>
        <div class="five wide field">
          {{ tranCode }}
        </div>
      </div>

      <div class="inline fields" [ngClass]="{ 'hidden': form.controls.payMethodSelect.value != '30003' }">
        <div class="four wide field">
          <label>GL Type
          </label>
        </div>
        <div class="five wide field">
          {{ glType }}
        </div>
      </div>

      <div class="inline fields" [ngClass]="{ 'hidden': form.controls.payMethodSelect.value != '30003' }">
        <div class="four wide field">
          <label>Account Type
          </label>
        </div>
        <div class="five wide field">
          {{ accType }}
        </div>
      </div>

      <div class="inline fields">
        <div class="required four wide field">
          <label>เลขที่บัญชีหักค่าธรรมเนียม</label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.accNo) }">
          <input type="text" formControlName="accNo" minlength="10" maxlength="10" name="accNo" (blur)="accNoBlur()"
            (focus)="accNoFocus()" #accNo (keypress)="accNoPress($event)" value="{{acctno}}" autocomplete="off"
            placeholder="">
        </div>
        <div class="required two wide field">
          <label>ชื่อเจ้าของบัญชี</label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.accName) }">
          <input type="text" #accName formControlName="accName" placeholder="ชื่อบัญชี">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>ชื่อบนใบเสร็จธนาคาร TMB</label>
        </div>
        <!-- <div class="two wide field" [ngClass]="{'error': invalid(form.controls.tmbReceiptChk) }">
          <div class="ui checkbox" style="width: 100%">
            <input type="checkbox" #tmbReceiptChk (change)="toggleDataCorp($event)" formControlName="tmbReceiptChk">
            <label class="custom-rt">ชื่อนิติบุคคล</label>
          </div>
        </div> -->
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.corpName1) }">
          <input type="text" #corpName1 formControlName="corpName1" placeholder="ชื่อนิติบุคคล">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรผู้ขอ/ลูกค้า (ถ้ามี)</label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.telReq) }">
          <input type="text" (keypress)="accNoPress($event)" #telReq formControlName="telReq" placeholder="เบอร์โทรผู้ขอ/ลูกค้า">
        </div>
      </div>

      <div class="inline field">
        <h3 class="header space">&nbsp;</h3>
        <div class="ui divider"></div>
        <h3 class="header">โปรดแนบเอกสาร</h3>
      </div>

      <div class="inline fields">
        <div class="required four wide field">
          <label>ใบคำขอและหนังสือยินยอมให้หักเงินจากบัญชี</label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.requestFile) }">
          <input type="file" #requestFile (change)="changeUpload('requestFile', $event)" formControlName="requestFile">
        </div>
        <div class="three wide field" *ngIf="data&&data.requestFormFile">
          <a class="download-link" (click)="download(data.requestFormFile)">
            <u>Download</u>
          </a>
        </div>
        <!-- <div class="two wide field">
          <label>ที่อยู่</label>
        </div>
        <div class="five wide field">
          <textarea #address formControlName="address" rows="3"></textarea>
        </div> -->
      </div>


      <div class="inline fields">
        <div class="required four wide field">
          <label>สำเนาบัตรประชาชน</label>
        </div>
        <div class="five wide field" [ngClass]="{'error': invalid(form.controls.copyFile) }">
          <input type="file" #copyFile (change)="changeUpload('copyFile', $event)" formControlName="copyFile">
        </div>
        <div class="three wide field" *ngIf="data&&data.idCardFile">
          <a class="download-link" (click)="download(data.idCardFile)">
            <u>Download</u>
          </a>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label class="half blue">สำเนาใบเปลี่ยนชื่อหรือนามสกุล(ถ้ามี)</label>
        </div>
        <div class="five wide field">
          <input type="file" (change)="changeUpload('changeNameFile', $event)" formControlName="changeNameFile">
        </div>
        <div class="three wide field" *ngIf="data&&data.changeNameFile">
          <a class="download-link" (click)="download(data.changeNameFile)">
            <u>Download</u>
          </a>
        </div>
      </div>

      <div class="inline fields" [ngClass]="{'hidden': roles(_roles.REQUESTOR)}">
        <div class="four wide field">
          <label>หมายเหตุ</label>
        </div>
        <div class="five wide field">
          <textarea rows="2" formControlName="note"></textarea>
        </div>
      </div>
      <div class="inline field">
        <div class="ui one grid">
          <div class="center aligned one column btn-group">
            <button class="ui blue basic button" (click)="pdf()" *ngIf="roles(_roles.REQUESTOR)||roles(_roles.ADMIN)" type="button">
              <i class="print icon"></i>
              พิมพ์ใบคำขอ
            </button>
            <button class="ui blue basic button" [ngClass]="{ 'disabled': !isdownload }" type="submit">
              <i class="check circle outline icon" *ngIf="roles(_roles.MAKER)"></i>
              <i class="file alternate outline icon" *ngIf="roles(_roles.REQUESTOR)||roles(_roles.ADMIN)"></i>
              {{ roles(_roles.MAKER) ? 'ดำเนินการชำระเงิน' : 'ยื่นใบคำขอ' }}
            </button>
            <button class="ui blue basic button" type="button" *ngIf="roles(_roles.MAKER)">
              <i class="undo icon"></i>
              ปฏิเสธ
            </button>
            <button class="ui grey basic button" (click)="cancel()" type="button">
              <i class="times circle outline icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>