.ui-table {
    margin: 2em 0 !important;
}

.custom-rt {
    width: 100%;
    text-align: right;
}

.right.floated {
    float: right;
}
.hidden {
    display: none !important;
}

h3.header{
    margin: 0
}

h3.header.space{
    margin: 0 !important;
    margin-top: -1em !important;
}