<div class="ui grid">
  <div class="sixteen wide column">
    <form class="ui form segment" #ngForm="ngForm" [formGroup]="form" (submit)="formSubmit(form)">
      <h4>Request Form สำหรับทำรายการให้ลูกค้าลงนาม</h4>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>วันที่ขอ</label>
        </div>
        <div class="five wide field">
          {{ reqDate || '01/01/2561' }}
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>TMB Req. No.
          </label>
        </div>
        <div class="five wide field">
          20180900001
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ประเภทคำขอ</label>
        </div>
        <div class="five wide field {{ validate('reqTypeSelect', ngForm.submitted) ? '' : 'error' }}">
          <ui-dropdown [dropdown]="dropdownObj.reqType" (valueChange)="reqTypeChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline field ui-table">
        <table class="ui small celled table" style="width: 100%">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="1" colspan="2">รายละเอียด</th>
              <th rowspan="2">ค่าธรรมเนียมของ DBD</th>
              <th rowspan="2">ค่าบริการของธนาคาร</th>
              <th rowspan="2" style="width: 12%">จำนวน : ชุด</th>
            </tr>
            <tr style="display: none">
              <th>1</th>
              <th>2</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!reqTypeChanged || reqTypeChanged.length == 0">
              <tr class="center aligned">
                <td colspan="5">
                  <h5> ไม่มีข้อมูลประเภทคำขอ </h5>
                </td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
                <td style="display: none">&nbsp;</td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let req of reqTypeChanged; let i = index">
              <ng-container *ngIf="!req.code">
                <tr>
                  <td colspan="5">
                    <h5>{{ req.typeDesc }}</h5>
                  </td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                  <td style="display: none">&nbsp;</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="req.code">
                <tr>
                  <td class="center aligned">
                    <div class="field {{ validateChk() ? 'error' : '' }}">
                      <div class="ui checkbox">
                        <input type="checkbox" name="chk{{i}}" formControlName="chk{{i}}" (click)="toggleChk(i)">
                        <label></label>
                      </div>
                    </div>
                  </td>
                  <td>{{ req.certificate }}</td>
                  <td>{{ req.feeDbd }}</td>
                  <td>{{ req.feeTmb }}</td>
                  <td>
                    <div class="field {{ validate('cer'+i, ngForm.submitted) ? '' : 'error' }}">
                      <div class="ui input">
                        <input type="number" name="cer{{i}}" [disableControl]="!form.controls['chk'+i].value"
                          formControlName="cer{{i}}" style="width: 100%;">
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>เลขที่นิติบุคคล
          </label>
        </div>
        <div class="five wide field {{ validate('corpNo', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="corpNo" placeholder="เลขที่นิติบุคคล">
        </div>
        <div class="two wide field">
          <label>ชื่อนิติบุคคล
          </label>
        </div>
        <div class="five wide field {{ validate('corpName', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="corpName" placeholder="ชื่อนิติบุคคล">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>Customer Segment
          </label>
        </div>
        <div class="five wide field {{ validate('customSegSelect', ngForm.submitted) ? '' : 'error' }}">
          <ui-dropdown [dropdown]="dropdownObj.customSeg" (valueChange)="customSegChange($event)"></ui-dropdown>
        </div>
        <div class="two wide field">
          <label>เลขที่ CA/มติอนุมัติ
          </label>
        </div>
        <div class="five wide field {{ validate('acceptNo', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="acceptNo" placeholder="เลขที่ CA/มติอนุมัติ">
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>ชื่อหน่วยงาน
          </label>
        </div>
        <div class="five wide field {{ validate('departmentName', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="departmentName" placeholder="ชื่อหน่วยงาน">
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field">
          <label>วิธีการรับชำระ</label>
        </div>
        <div class="two wide field"></div>
        <div class="five wide field {{ validate('payMethodSelect', ngForm.submitted) ? '' : 'error' }}">
          <ui-dropdown [dropdown]="dropdownObj.payMethod" (valueChange)="payMethodChange($event)"></ui-dropdown>
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>วิธีหักบัญชีจาก</label>
        </div>

        <div class="five wide field {{ validate('subAccMethodSelect', ngForm.submitted) ? '' : 'error' }}">
          <ui-dropdown [dropdown]="dropdownObj.subAccMethod" (valueChange)="subAccMethodChange($event)"></ui-dropdown>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>Tran Code
          </label>
        </div>
        <div class="five wide field">
          8880
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>GL Type
          </label>
        </div>
        <div class="five wide field">
          B533
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>Account Type
          </label>
        </div>
        <div class="five wide field">
          OOA
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>เลขที่บัญชี</label>
        </div>
        <div class="five wide field {{ validate('accNo', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="accNo" minlength="10" maxlength="10" name="accNo" (blur)="accNoBlur()"
            (focus)="accNoFocus()" placeholder="123-1-12345-9">
        </div>
        <div class="two wide field">
          <label>ชื่อบัญชี</label>
        </div>
        <div class="five wide field {{ validate('accName', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="accName" placeholder="ชื่อบัญชี">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>ชื่อบนใบเสร็จธนาคาร TMB</label>
        </div>
        <div class="two wide field {{ validate('tmbReceiptChk', ngForm.submitted) ? '' : 'error' }}">
          <div class="ui checkbox" style="width: 100%">
            <input type="checkbox" formControlName="tmbReceiptChk">
            <label class="custom-rt">ชื่อนิติบุคคล</label>
          </div>
        </div>
        <div class="three wide field {{ validate('corpName1', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="corpName1" placeholder="ชื่อนิติบุคคล">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรผู้ขอ/ลูกค้า (ถ้ามี)</label>
        </div>
        <div class="five wide field {{ validate('telReq', ngForm.submitted) ? '' : 'error' }}">
          <input type="text" formControlName="telReq" placeholder="เบอร์โทรผู้ขอ/ลูกค้า">
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>ใบคำขอหนังสือรับรองนิติบุคคลและหนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
          </label>
        </div>
        <div class="five wide field {{ validate('requestFile', ngForm.submitted) ? '' : 'error' }}">
          <input type="file" formControlName="requestFile">
        </div>
        <div class="two wide field">
          <label>ที่อยู่</label>
        </div>
        <div class="five wide field {{ validate('address', ngForm.submitted) ? '' : 'error' }}">
          <textarea formControlName="address" rows="3"></textarea>
        </div>
      </div>


      <div class="inline fields">
        <div class="four wide field">
          <label>สำเนาบัตรประชาชน</label>
        </div>
        <div class="five wide field {{ validate('copyFile', ngForm.submitted) ? '' : 'error' }}">
          <input type="file" formControlName="copyFile">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>สำเนาใบเปลี่ยนชื่อหรือนามสกุล(ถ้ามี)</label>
        </div>
        <div class="five wide field {{ validate('changeNameFile', ngForm.submitted) ? '' : 'error' }}">
          <input type="file" formControlName="changeNameFile">
        </div>
      </div>

      <div class="inline fields">
        <div class="four wide field">
          <label>หมายเหตุ</label>
        </div>
        <div class="five wide field {{ validate('note', ngForm.submitted) ? '' : 'error' }}">
          <textarea rows="2" formControlName="note"></textarea>
        </div>
      </div>
      <div class="inline field">
        <div class="ui one grid">
          <div class="center aligned one column btn-group">
            <button class="ui blue basic button" type="submit">
              <i class="print icon"></i>
              พิมพ์ใบคำขอ
            </button>
            <button class="ui blue basic button" type="button" (click)="send()">
              <i class="file alternate outline icon"></i>
              ยื่นใบคำขอ
            </button>
            <button class="ui grey basic button" type="button">
              <i class="times circle outline icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>