<div class="ui container">
  <div class="ui one grid">
    <div class="row">
      <div class="one column">
        <div class="ui header">
          CRUD Data Table
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <form class="ui form" (submit)="add(form)" #form="ngForm">
          <div class="inline fields">
            <div class="field">
              <label>id</label>
              <div class="ui input">
                <input type="text" name="id" ngModel>
              </div>
            </div>
            <div class="field">
              <label>name</label>
              <div class="ui input">
                <input type="text" name="name" ngModel>
              </div>
            </div>
            <div class="field">
              <label>value</label>
              <div class="ui input">
                <input type="text" name="value" ngModel>
              </div>
            </div>
            <div class="field">
              <button class="ui mini button" type="submit">ADD</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <table class="ui celled table">
          <thead class="center aligned">
            <tr>
              <th>NO.</th>
              <th>Name</th>
              <th>Value</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of ex1 | async; let i = index">
              <td class="center aligned">{{i+1}}</td>
              <td class="center aligned">{{e.name}}</td>
              <td class="center aligned">{{e.value}}</td>
              <td class="center aligned">
                <button class="ui mini red icon button" type="button" (click)="delete(i)">
                  <i class="trash icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>