<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">Email Configuration
    </h2>

    <div class="ui attached segment">
      <br>
      <div class="ui form">
        <form [formGroup]="form">
          <div class="inline fields">
            <div class="four wide field"></div>
            <div class="two wide field ">
              <label> Email Name </label>
            </div>
            <div class="four wide field ">
              <input type="text" formControlName="name">
            </div>
          </div>

          <div class="inline fields">
            <div class="four wide field"></div>
            <div class="two wide field ">
              <label>Status</label>
            </div>
            <div class="four wide field">
              <!-- <ui-dropdown [dropdown]="dropdownObj.paidType" (valueChange)="paidTypeChange($event)"></ui-dropdown> -->
              <ui-dropdown [dropdown]="dropDownStatus" #statusDropDown="ui-dropdown"></ui-dropdown>
            </div>
          </div>
        </form>

      </div>
      <br>
      <div class="ui center aligned grid">
        <!-- *ngIf="isCanSerch" -->
        <button class="ui blue basic button" (click)="clickSearch()" >
          <i class="search icon"></i>
          ค้นหา
        </button>&nbsp;&nbsp; &nbsp;
        <button class="ui gery basic button" (click)="clickClear()">
          <i class="trash alternate outline icon"></i>
          ล้างข้อมูล
        </button>

        <br>
      </div>
      <br>

    </div>

    <div class="ui segment" [hidden]="!emailConfigDT.isSearch">
      <div class="two wide field " style="margin-bottom: 20px">
        <b>ผลการค้นหา</b>
      </div>
      <ng-datatable-search [ng-datatable]="emailConfigDT" ></ng-datatable-search>
      <table [ngDatatable]="emailDTConfig" #emailConfigDT="ngDatatable" class="ui small celled table nowrap sortable" id="table"
        style="width: 100%">
        <thead>
          <tr style="text-align: center;">
            <th>No.</th>
            <th  [ngSort]="emailConfigDT" columnName="NAME">Email Name </th>
            <th  [ngSort]="emailConfigDT" columnName="STATUS">Status</th>
            <th>Action </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngIf="emailConfigDT.isEmpty">
            <td colspan="21" style="text-align: center !important;">ไม่พบรายการ</td>
          </tr>
          <tr *ngFor="let item of emailConfigDT.datas; let i = index">
            <td style="text-align: center">{{i+1}}</td>
            <td>{{item.name}}</td>
            <td style="text-align: center"  [ngSwitch]="item.status">
            <Span *ngSwitchCase="1">
              Inactive
            </Span>
            <Span *ngSwitchCase="0">
              Active
            </Span>
              <!-- <Span *ngIf="item.status == 1 ">Inactive</Span>
              <Span *ngIf="item.status == 0 ">Active</Span> -->
            </td>
            <td style="text-align: center" [ngSwitch]="isCanEdit">
              <div *ngSwitchCase="true" >
                <button class="ui blue basic button" (click)="clickEditEmailTemplate(item)">แก้ไข
                </button>
              </div>
              <div *ngSwitchCase="false" >
                -
              </div>

            </td>
          </tr>

        </tbody>
      </table>
      <ng-datatable-footer [ng-datatable]="emailConfigDT"  ></ng-datatable-footer>
      <br>
      <br>


    </div>
  </div>